@(xhtml:String, ngModules:Seq[String], js : Seq[String], css : Seq[String], session : JsValue )

@import play.api.libs.json.{ JsValue, Json }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,500italic,700" rel="stylesheet" type="text/css">
    <title></title>
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,500italic,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/player.css">
    @for(s <- css) {
    <link rel="stylesheet" href="@s"/>
    }
</head>
<body  ng-app="corespring-player">
<div class="pre-loader">
    <div id="spinner"></div>
</div>
<div class="main hide-body">
    <div id="root" ng-controller="Root" dimension-propagator="" class="container">
        <div ng-controller="Main">
            <div player-control-panel=""></div>

            <div corespring-player data-template="playerRoot" player-mode="player" player-markup="item.xhtml" player-item="item" player-session="session" player-outcomes="outcome">
                @Html(xhtml)
            </div>

            <summary-feedback template="player.jade" item="item" session="session"></summary-feedback>
            <div ng-controller="ContainerPlayerControls" class="container-player"><br>
                <button ng-click="submit()" ng-disabled="!canSubmit()" class="btn btn-primary">Submit</button>
                <button ng-click="reset()" class="btn btn-warning">Reset</button>
                <hr>
                <div ng-show="score" class="score">You scored {{score.summary.percentage}}%</div>
            </div>
        </div>
    </div>
    <!--[if lte IE 8]> <script src="../../js/common/ie-support/Function.bind.js"></script> <![endif]-->
    <!--[if lte IE 8]> <script src="../../js/common/ie-support/Array.map.js"></script> <![endif]-->
    <!--[if lte IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <!--[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]-->
    @for(s <- js) {
    <script type="text/javascript" src="@s"></script>
    }
    <script type="text/javascript">
      var deps = [
              'corespring-common.services',
              'corespring-common.directives',
              'corespring-player.controllers',
              'corespring-player.directives',
              'corespring-player.services'
            ];

        var dynDeps = [ @Html(ngModules.map( m => s"\'$m\'").mkString(",")) ];
        angular.module("corespring-player", deps.concat(dynDeps) ).config(['$provide', function($provide) {

            console.log('------------> init');

           $provide.decorator('PlayerService', function($delegate, $sniffer) {
                function Wrapper(){
                    var inst = new $delegate();

                    for(var x in inst){
                      if(typeof(inst[x]) === 'function'){
                        this[x] = inst[x];
                      }
                    }

                    this.loadSession = function(onSuccess, onFailure, id) {
                      console.log(' -----------> override loadSession!!!');
                      var sessionJson = @Html(play.api.libs.json.Json.stringify(session));
                      onSuccess(sessionJson);
                    };
                }
                return Wrapper;
           });

        }]);

        $(".main").addClass('blend');

    </script>
</div>
</body>
</html>
