@(xhtml:String, ngModules:Seq[String], js : Seq[String], css : Seq[String], session : JsValue )

@extraLibs = @{
  Seq("../../components/es5-shim/es5-shim.min.js",
"../../components/console-polyfill/index.js",
"../../components/jquery/dist/jquery.min.js",
"../../components/jquery-ui/jquery-ui.min.js",
"../../components/angular/angular.min.js",
"../../components/lodash/dist/lodash.min.js",
"../../components/angular-ui-sortable/sortable.js",
"../../components/mathjs/dist/math.min.js",
"../../components/saxjs/lib/sax.js",
"../../components/corespring-ng-components/build/corespring-ng-components.js",
"../../js/corespring/core.js",
"../../js/corespring/core-library.js",
"../../js/corespring/server/init-core-library.js",
"../../js/corespring/lodash-mixins.js",
"../../js/common/directives/_declaration.js",
"../../js/common/directives/additional-copyright-information.js",
"../../js/common/directives/ng-bind-html-unsafe.js",
"../../js/common/directives/summary-feedback.js",
"../../js/common/ie-support/Array.map.js",
"../../js/common/ie-support/Function.bind.js",
"../../js/common/services/_declaration.js",
"../../js/common/services/data-query-service.js",
"../../js/common/services/item-id-service.js",
"../../js/common/services/log-factory.js",
"../../js/common/services/math-service.js",
"../../js/common/services/message-bridge.js",
"../../js/common/services/profile-formatter.js",
"../../js/common/services/score-processor.js",
"../../js/common/supporting-materials/_declaration.js",
"../../js/common/supporting-materials/controllers/_declaration.js",
"../../js/common/supporting-materials/controllers/supporting-material-preview.js",
"../../js/common/supporting-materials/services/_declaration.js",
"../../js/common/supporting-materials/services/supporting-materials-service.js",
"../../js/render/controllers/_declaration.js",
"../../js/render/controllers/client-side-preview.js",
"../../js/render/controllers/container-player-controls.js",
"../../js/render/controllers/main.js",
"../../js/render/controllers/root.js",
"../../js/render/directives/_declaration.js",
"../../js/render/directives/player-control-panel.js",
"../../js/render/directives/corespring-player.js",
"../../js/render/directives/dimension-propagator.js",
"../../js/render/services/_declaration.js",
"../../js/render/services/client-side-player-service.js",
"../../js/render/services/component-register.js",
"../../js/render/services/corespring-player-definition.js",
"../../js/render/services/player-utils.js",
"../../js/render/services/server-logic.js",
"../../components/angular-ui/build/angular-ui.js",
"../../components/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML",
"../../js/render/controllers/container-player-controls.js")
        }


@playerRoot( xhtml, ngModules, extraLibs ++ js, css ++ Seq(), session )

