dl.dl-horizontal.supporting-material-metadata
  dt
    div.form-horizontal
      label.control-label Title 
  dd
    label.form-control {{ngModel.name}}
  dt
    div.form-horizontal
      label.control-label Type
  dd
    label.form-control {{ngModel.materialType}}
  dt 
    div.form-horizontal
      label.control-label File Size
  dd
    label.form-control {{fileSize}}