@import "../bower_components/bootstrap/less/bootstrap";
@import "../css/vendor/dmitryf/less-elements/elements";
@import "../components/components-font-awesome/css/font-awesome.css";

.hide-body{
  opacity: 0;
}

.blend {
  opacity: 1;
  transition: opacity 300ms;
}

.navbar-inverse {
  background-color: lighten(@navbar-inverse-bg, 20%);
  border-color: @navbar-inverse-bg;
}

.cs-feedback {
  border: solid 1px white;
  border-radius: 3px;
  padding: 3px;

  a {
    color: #0088cc;

    &:hover {
      color: #005580;
    }
  }

}

.cs-feedback.correct {
  border: solid 1px #74A50D;
}
.cs-feedback.incorrect {
  border: solid 1px #AF1700;
}

.summary-feedback {
  margin: 10px 0 10px 0;

  a{
    cursor: pointer;
    .user-select(none);

    *{
      .user-select(none);
    }
  }

  .feedback-text {
    border: none;
    padding: 3px;
    margin: 10px;
  }
}

//created by the wiggi hr feature
.element-separator {
  height: 1px;
  background-color: #ccc;
  border: none;
  color: #0FF;
  margin: 30px 0;
  display: block;
}
