@import "../bower_components/bootstrap/less/bootstrap";
@import "../css/vendor/dmitryf/less-elements/elements";

@import "common/variables";
@import "common/base";

@import "player/player-container";
@import "player/corespring-player";

html, body, .main, .root {
  height: 100%;
}

html {
  overflow: hidden;
}

table.panes {
  width: 100%;
  height: 100%;

  td.top {
    border-bottom: solid 1px #ccc;
    height: 50px;
    background-color: #ececec;
    padding: 10px;

    .pane-buttons {
      left: 33%;
    }
  }

  td.pane {
    width: 25%;
    height: 100%;
  }

  .pane-defaults() {
    height: 100%;
    width: 100%;

    .ace_scroller {
      padding-top: 5px;
    }
  }

  .xhtml-pane {
    .pane-defaults();
  }

  .custom-js-pane {
    .pane-defaults();
  }
  .json-pane {
    .pane-defaults();
  }
  .files-pane {
    .pane-defaults();
    background-color: #f4f3f4;
    padding: 10px;
    .file-item {
      color: @cs-green;
      cursor: pointer;
      a {
        margin-right: 5px;
      }
      &.selected {
        font-weight: bold;
      }
      &:hover {
        i {
          visibility: visible;
        }
      }
      i {
        visibility: hidden;
      }
    }
    .upload-button {
      margin-top: 10px;
    }
    table {
      width: 100%;
      td {
        width: 50%;
        vertical-align: top;
      }
    }
  }
  .preview {
    .pane-defaults();
    background-color: #fff;
    padding: 15px;
    overflow-y: auto;
  }
}

.flash.alert {
  bottom: 10px;
  margin: 0;
  position: absolute;
  right: 10px;
  z-index: 100;
}
