mixin modal(title, okLabel, showFooter)
  - okLabel = okLabel ? okLabel : 'Yes'
  - showFooter = showFooter == false ? false : true
  .modal-header
    button.close(type='button', ng-click="$dismiss()")
      span &times;
      span.sr-only Close
    h4.modal-title= title 
  .modal-body
    block
      
  if showFooter
    .modal-footer
      button.btn.btn-primary(type='button', ng-click="$close(result)")= okLabel 
      button.btn.btn-default(type='button', ng-click="$dismiss()") Cancel
    
