@(itemId: String, url : String)
<html>
  <head>
          <!--
    "maxNoOfAttempts").asOpt[Int].getOrElse(default.maxNoOfAttempts),
    "highlightUserResponse").asOpt[Boolean].getOrElse(default.highlightUserResponse),
    "highlightCorrectResponse").asOpt[Boolean].getOrElse(default.highlightCorrectResponse),
    "showFeedback").asOpt[Boolean].getOrElse(default.showFeedback),
    "allowEmptyResponses").asOpt[Boolean].getOrElse(default.allowEmptyResponses),
    "submitCompleteMessage").asOpt[String].getOrElse(default.submitCompleteMessage),
    "submitIncorrectMessage").asOpt[String].getOrElse(default.submitIncorrectMessage)))
  -->
  </head>
  <body>
    <h1>Create session for item: @itemId </h1>
    <label>Max number of attempts?</label><input type="text" id="maxNoOfAttempts" value="2"><br>
    <label>Show Feedback?</label><input type="checkbox" id="showFeedback" checked><br>
      <label>Show Correct Response?</label><input type="checkbox" id="highlightCorrectResponse" checked><br>
      <label>Show User Response?</label><input type="checkbox" id="highlightUserResponse" checked><br>
      <label>Allow Empty Response?</label><input type="checkbox" id="allowEmptyResponses" checked><br>
      <label>Submit Complete Message</label><input type="text" id="submitCompleteMessage"><br>
      <label>Submit Incorrect Message</label><input type="text" id="submitIncorrectMessage"><br>
      <button id="button"> Create Session</button>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){

    $("#button" ).click(function(){
      var data = {}
      data.itemId = "@itemId";
      data.settings = {
        maxNoOfAttempts : parseInt( $("#maxNoOfAttempts").val ()),
        showFeedback : $("#showFeedback").is(":checked"),
        highlightCorrectResponse : $("#highlightCorrectResponse").is(":checked"),
        highlightUserResponse : $("#highlightUserResponse").is (":checked"),
        allowEmptyResponses : $("#allowEmptyResponses").is (":checked")
      };

  $.ajax({
        type: 'POST',
        url: '@url',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(data)
      }).done(function(result){
          window.location = result.url;
      });

    });
  })
  </script>
</html>



