@(items:Seq[(String, String, String, String)])
<!DOCTYPE html>
<html>
<head>
  <title>Corespring Container Shell</title>

  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/homepage.css">
  <!--
  <link rel="stylesheet" href="css/app.css">
  <title></title>
  <link rel="stylesheet" href="css/editor.css">
  -->

</head>
<body>
  <div class="container">

    <div class="logo">
      <img src="/assets/images/logo-new.png"/>
    </div>

    @items.map{ i =>
      @i._1 : <a href="@i._3">Run</a> <a href="@i._4">Edit</a>
      <br/>
    }
    <br/>
    <a href="/client/editor/create-item">Create a new item</a>
  </div>


  <!--
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/headjs/dist/head.js"></script>
  <script src="bower_components/angular-ui-sortable/src/sortable.js"></script>
  <script src="bower_components/corespring-ng-components/build/corespring-ng-components.js"></script>
  <script src="js/common/directives/_declaration.js"></script>
  <script src="js/common/directives/ng-bind-html-unsafe.js"></script>
  <script src="js/corespring/core.js"></script>
  <script src="js/corespring/outcome-processor.js"></script>
  <script src="js/editor/controllers/_declaration.js"></script>
  <script src="js/editor/controllers/root.js"></script>
  <script src="js/editor/controllers/client-side-preview.js"></script>
  <script src="js/editor/services/_declaration.js"></script>
  <script src="js/editor/services/client-side-player-services.js"></script>
  <script src="js/editor/directives/_declaration.js"></script>
  <script src="js/editor/directives/structure-view.js"></script>
  <script src="js/editor/directives/file-list.js"></script>
  <script src="js/editor/directives/file-preview.js"></script>
  <script src="js/editor/directives/config-pane.js"></script>
  <script src="js/editor/directives/control-panel.js"></script>
  <script src="js/render/services/_declaration.js"></script>
  <script src="js/render/services/component-register.js"></script>
  <script src="js/render/directives/_declaration.js"></script>
  <script src="js/render/directives/corespring-player.js"></script>
  <script src="bower_components/angular-ui/build/angular-ui.js"></script>
  <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
  <script src="bower_components/ckeditor/ckeditor.js"></script>
  <script src="bower_components/bootstrap/js/dropdown.js"></script>
  <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/theme-twilight.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/mode-xml.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/worker-json.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/mode-json.js"></script>

  -->
</body>
</html>