mixin info_btn(name)
  a.btn.btn-info(ng-click="#{name}()")
    block

mixin tab(label, name)
  li(ui-sref-active="active",ng-show="isTabVisible('#{name}')")
    a(ui-sref="#{name}", role='tab')= label

mixin help
  a.help.navbar-right(ng-click="help()")
    i.fa.fa-question-circle

mixin helper_icons
  table 
    tr 
      td
        +info_btn('questionInformation') Question Information
      td 
        +help

include ../templates/popups
include ../templates/question-information-popup

nav.row.navbar-default(ng-controller="NavController")
  ul.list-inline.title-and-save
    li.title(ng-click="editTitle()", ng-show="showTitle", ng-class="{'Untitled': 'placeholder'}[title]",
        ng-bind-html-unsafe="title")
    li(ng-show="showSaveMessage")
      span.save-msg(ng-switch on="saveStatus")
        span#saved(ng-switch-when="saved")
          | All changes saved
        span#save-in-progress(ng-switch-when="saving")
          | Saving...
        span#save-error(ng-switch-when="error")
          | There was an error saving your content
        span#save-error(ng-switch-default)
          |  &nbsp;
  .tab-and-help
    ul.nav.nav-tabs(role='tablist')
      +tab('Question', 'question')
      +tab('Profile', 'profile')
      +tab('Supporting Materials', 'supporting-materials')
      li(ui-sref-active="active",ng-repeat="ms in metadataSets")
        a(ui-sref="metadata({key: ms.metadataKey})", role='tab') {{ms.editorLabel}}

    +helper_icons
