@(editorJs:String, opts : play.api.libs.json.JsValue)
<html>
  <head>
    <style type="text/css">
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="@editorJs"></script>
    <script>
     document.addEventListener('DOMContentLoaded', function(){
       var holder = document.querySelector('.holder');
       var opts = @{Html(play.api.libs.json.Json.stringify(opts))};

       console.log(document.location.href);
       opts.autosizeEnabled = document.location.href.indexOf('as=false') === -1;
       opts.iframeScrollingEnabled = document.location.href.indexOf('ifs=false') === -1;

       opts.onItemCreated = function(){
         console.log('onItemCreated', arguments);
       };

       console.log('opts: ', opts);

       var editor = new org.corespring.players.ItemEditor(holder, opts, function(err){
          console.warn(err);
       });

     });
    </script>
    <div class="holder" style="height:100%; width: 100%;"></div>
  </body>
</html>