
@(componentEditorJs:String, types: Seq[(String,Boolean)], opts : play.api.libs.json.JsValue)

@org.corespring.shell.views.html.launchers.coreLauncher(componentEditorJs, types, opts){

  <button class="btn btn-sm btn-success save">Save</button>
  <script type="text/javascript">
    $('.save').click(function(){
      editor.save(function(result){
        console.log('>> save: ', result);
      });
    });
  </script>
}{
  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function(){

      var holder = document.querySelector('.holder');

      opts.onItemCreated = function(itemId){
        console.log('item created: ' + itemId);
      };

      if(opts.itemId){
        editor = new org.corespring.players.ItemComponentEditor(holder, opts, function(err){
          console.warn(err);
        });

        window.updateControls("tabs");

      } else {
        $('.create').click(function(){
          window.createEditor(this, 'ItemComponentEditor');
        });
      }
    });
  </script>
}

