@(js:String, opts : play.api.libs.json.JsValue)
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;" />

  <style>
    .holder {
      border: 1px dashed grey;
      overflow: scroll;
    }
    .corespring-player-body {
      border: 1px dashed red;
    }
  </style>
</head>
<body>

<!-- while we support ie8 we must use jquery 1.x -->
<script type="text/javascript" src="/client/components/console-polyfill/index.js"></script>
<!-- [if lte IE 9]> -->
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<!-- [endif] -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script type="text/javascript" src="@js"></script>
<script>

     $(document).ready(function(){
       var playerHolderWidth = 600;
       var holder = $('.holder');
       var opts = @{Html(play.api.libs.json.Json.stringify(opts))};

       console.log('opts: ', opts);

       opts.onPlayerRendered = function(){
         console.log('onPlayerRendered', arguments);
       };

       var player;

       function addPlayer() {
         if (player) {
           player.remove();
         }
         var playerWidth = $('#player-width-input').val();
         opts.width = playerWidth.length > 0 ? playerWidth+'px' : undefined;
         player = new org.corespring.players.ItemPlayer(holder, opts, function(err){
            console.warn(err);
         });
       }

       addPlayer();

       $('#set-mode-evaluate').click(function(){
        player.setMode('evaluate', function(err){
          console.log(err);
        });
       });

       $('#player-container-width-input').change(function(){
         $('.holder').css('width', $('#player-container-width-input').val()+"px");
       });

       $('#player-width-input').change(function(){
         addPlayer();
       });

       $('#player-container-width-input').val(playerHolderWidth);
       $('.holder').css('width', playerHolderWidth+"px");

     });
    </script>

<button class="button" id="set-mode-evaluate">evaluate</button>
  Container width: <input type="text" id="player-container-width-input"/>
  Player width: <input type="text" id="player-width-input"/>

<div class="holder"></div>
</body>
</html>
