modules
node_modules
**/node_modules
app
bower_components
hooks
.git
.gitmodules
.idea*
regression-tests
prototype
logs
public
project
*.md
*.sublime-project
corespring-components/.grunt
corespring-components/node_modules
corespring-components/.git
corespring-components/docs
corespring-components/helper-libs
corespring-components/less
corespring-components/tasks
corespring-components/test-lib

