*.iml
*.log
*.sublime*
.bower*
.bower-tmp*
.DS_Store
.ensime*
.grunt
.idea
.idea_modules
.tmp
_SpecRunner.html
atlassian-*
bower_components
node_modules
scratch
target
Thumbs.db
aws.zip
.test-scripts
