*.iml
*.log
*.sublime*
.bower*
.bower-tmp*
.DS_Store
.ensime*
.grunt
.idea
.idea_modules
.tmp
_SpecRunner.html
atlassian-*
bower_components
node_modules
target
Thumbs.db
aws.zip

modules/container-client/src/jade/partials/help-content/tools/tools-introduction.jade
