h4 Introduction

p Every question has profile information that is used to store the question. The <b>Question Profile</b> contains basic information that will help educators search for and find the questions. Information included in the question profile is the standard alignment, grade level, title and a description; copyright/ownership information; Bloom's Level, and of Depth of Knowledge. Some organizations may want to store additional information that is useful to their program administration (e.g., curriculum module, skill). That information may be stored as <b>Organization Information</b>. 
