h4 Introduction

p Every question has a profile information that is used to store the question. The <b>Question Profile</b> profile contains basic information that will help educators search for and find the questions. Information included in the question profile is the standard alignment, grade level, title and a description; copyright/ownership information; Bloom's Level, and of Depth Knowledge. Some organizations may want to store additional information that is useful to their program administration, for example, curriculum module or skill and that information may be stored as <b>Organization Information</b>. 
