h4 Question Profile


p The Question Profile contains common information across all question types (e.g., title, standard alignment, grade level) and is used to present information to educators about the origin of the question.

ol
  li Add <b>basic information</b>:
    ul
      li Title
      li Description
      li Primary Subject
      li Related Subject or Subjects
      li Grade Level or Levels

    p Note that the profile will automatically build a list of the interaction types that are found in the question.

  li Add the <b>Standards</b> to which the question is aligned. Currently, the Common Core State Standards for Mathematics and English Language Arts are available in the system for tagging.
  li Add <b>Other Alignments</b> such as Bloom's Taxonomy level, Depth of Knowledge rating, Key Skills, and the Lexile Score, if applicable.
  li Add <b>Historical Information</b> such as the indication of prior use and Reviews Passed.
  li Add <b>Ownership Information</b> such as copyright ownership.
