script(type="text/ng-template", id="/templates/metadata")
  .joco(ng-controller="MetadataController")
    ul
      li(ng-repeat="s in metadataSets")
        a(ng-click="selectMetadata(s)") {{s.editorLabel}}
    iframe(ng-src="{{selectedMetadataUrl}}",style="width: 100%; height: 400px")
