//Add new popup
script( type="text/ng-template", id="/templates/popups/addSupportingMaterial")
  +modal('Add Supporting Material', 'Submit')
    .alert.title
        | When composing an assessment item, it can be useful to include supplemental materials to assist in scoring or classroom discussion.

    .add-supporting-material-popup
      div(supportingmetadata="", focus-title="true", ng-model='supportingMaterial')

// Upload progress popup
script( type="text/ng-template", id="/templates/popups/uploadingSupportingMaterial")
  +modal('Uploading Supporting Material', 'Ok', false)
    div(style="text-align: center") Uploading...
    progressbar(max="100",value="progress")
      span(style="color:black; white-space:nowrap;") {{progress}}%

script(type="text/ng-template", id="/templates/supporting-materials")
  .supporting-materials(ng-controller="SupportingMaterials")
    .col-md-4.row
      .add-new-block
        button.btn.btn-default(id="addNewButton",ng-click="addNew()")
          i.fa.fa-plus
          | &nbsp;add new supporting material

      .supporting-materials-list(ng-model="supportingMaterials")
