h4 Introduction

p All questions may include **supporting materials** (e.g., scoring guides, examples, and rubrics) that may assist an educator to administer or review the item. p Supporting materials may be created from scratch, using the rich text editor, or, authors may upload premade documents in the form of a PDF.
