h4 Introduction

p
All questions may include <b>supporting materials</b> (e.g., scoring guides, examples, and rubrics) that may assist an educator to administer or review the item. Supporting materials may be created from scratch, using the rich text editor.
