dl.dl-horizontal.supporting-material-metadata
    dt
        div.form-horizontal
          label.control-label Title 
      dd
        input.form-control(name='type', type='text', ng-model='title', ng-focus='setActiveCtrl($event)', ng-blur='setActiveCtrl(null)', placeholder='enter title', required='required')
    dt
        div.form-horizontal
          label.control-label Type
      dd
        select(ui-select2='{minimumResultsForSearch: -1}', style='width: 200px;', ng-model='materialTypeProxy')
          option(ng-repeat='materialType in materialTypes') {{materialType}}
          
      div(ng-show='displayOther')
        dt
          label.control-label(for='supporting-material-type-text') Other
        dd
          input.form-control(name='others', type='text', ng-model='textMaterialType', ng-focus='setActiveCtrl($event)', ng-blur='setActiveCtrl(null)', required='required')

      button.btn.btn-small(ng-show='persist', ng-click='forceUpdate()') Update
