h4 Introduction

p This section describes the authoring process for feedback provided to students and the score associated with a correct answer, a partially correct answer, or an incorrect answer.

h5 Feedback

p Questions may include feedback at the interaction level and at the question level. If a question has multiple parts (e.g., a multi-choice interaction, an open ended answer question) authors may provide feedback for each interaction and for the question, overall.

h5 coring

p Much like feedback, scoring may be determined for an interaction or for the question overall.
