.control-panel {
  border-bottom: 1px solid #000000;
  width: 100%;
  min-height: 43px;

  .score {
    display: inline-block;
    margin-left: 20px;

    label {
      font-weight: bold;
    }
  }

  .actions {
    display: block;
    padding: 0;
    margin-right: 20px;
    float: right;
    list-style-type: none;

    .action {
      display: inline-block;
      vertical-align: top;

      a {
        display: block;
        margin: 2px 5px;
        i {
          font-size: 32px;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.2;
        }
      }

    }

    .popover-content {
      .settings {
        list-style-type: none;
        padding: 0;

        .setting {
          position: relative;
          input {
            top: 0;
            position: absolute;
          }
          span {
            padding-left: 20px;
            display: block;
          }
        }
      }
    }
  }

  .btn-feedback {
    color: #ffffff;
    font-size: 12px;
    background: #00acce;
    background-image: url("../images/buttoncheckbox.png") 0 0 no-repeat; /* fallback */
    background-image: url("../images/buttoncheckbox.png") -webkit-gradient(linear, left top, left bottom, from(#00acce), to(#0086a0)); /* Saf4+, Chrome */
    background-image: url("../images/buttoncheckbox.png"), -webkit-linear-gradient(top, #00acce, #0086a0); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/buttoncheckbox.png"), -moz-linear-gradient(top, #00acce, #0086a0); /* FF3.6+ */
    background-image: url("../images/buttoncheckbox.png"), -ms-linear-gradient(top, #00acce, #0086a0); /* IE10 */
    background-image: url("../images/buttoncheckbox.png"), -o-linear-gradient(top, #00acce, #0086a0); /* Opera 11.10+ */
    background-image: url("../images/buttoncheckbox.png"), linear-gradient(top, #00acce, #0086a0); /* W3C */
    border-color: #0097b5 #00819b #00819b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-position: center top no-repeat;
    background-repeat: no-repeat;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .9);
    width: 135px;
    background-position: center;
  }

  .btn.feedback:hover, .btn.feedback:active, .btn.feedback.active, .btn.feedback.disabled, .btn.save[disabled] {
    background-color: #00819b;
    background-position: center;
    text-shadow: 0px;
  }

}

.button-holder {
  margin-top: 15px;
  text-align: right;
}