.control-panel {
  width: 100%;
  min-height: 43px;

  .score {
    display: inline-block;
    margin-top: 7px;
    width: 80px;
    color: white;
    font-weight: bold;
  }

  .action-holder {
    margin-top: 10px;
    display: inline-block;
  }

  .action {
    display: inline-block;
    vertical-align: middle;
    .border-radius(3px);
    border-style: none;
    color: white;
    margin-left: 5px;
  }

  .action.reset {
    background-color: #D9534F;
  }

  .action.preview {
    background-color: #F0AD4E;
  }

  .action.submit {
    background-color: #428BCA;
  }

  .action.config {
    font-size: 30px;
    color: #4a4a4a;
  }

  .popover-content {
    .settings {
      list-style-type: none;
      padding: 0;

      .setting {
        position: relative;
        input {
          top: 0;
          position: absolute;
        }
        span {
          padding-left: 20px;
          display: block;
        }
        .disabled {
          color: #d3d3d3;
        }
      }
    }
  }

  /* a gradient mixin */
  .grad-mixin(@top,@bottom) {
    background-image: -ms-linear-gradient(top, @top, #679600);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@top), to(@bottom));
    background-image: -webkit-linear-gradient(top, @top, @bottom);
    background-image: -o-linear-gradient(top, @top, @bottom);
    background-image: -moz-linear-gradient(top, @top, @bottom);
    background-image: linear-gradient(top, @top, @bottom);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='@top', endColorstr='@bottom', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  }

}

.button-holder {
  margin-top: 15px;
  text-align: right;
}