@font-family-sans-serif: @ubuntu;

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #333;
}

div.text-centered, div.para-center, div.center, .center, center, .text-centered, .para_center, .para-center {
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  font-size: 16px;
  padding: 0 0 15px;
}

p {
  margin: 0;
  font: 14px/20px "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 18px;
}

.prompt {
  font: "Ubuntu", Arial, Helvetica, sans-serif !important;
  padding: 0 0 18px;
  margin: 0;
  display: block;
}

.intro-2 {
  line-height: 18px;
  font-size: 14px;
  margin: 0;
  color: #333;
}

.imagewrapper-200, .imagewrapper-400, .imagewrapper-600, .imagewrapper, .image-wrapper {
  margin: 0 auto 37px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.imagewrapper img, .image-wrapper img {
  max-width: 600px;
}

div.copyright, div.image-copyright, div.image_copyright {
  position: relative;
  top: -30px;
  margin-bottom: 20px;
  font-size: 11px;
  text-align: center;
  display: block;
}

