.catalog-nav(ng-show='!printMode')
  .catalog-tabs-container
    ul.catalog-tabs
      li.catalog-tab(ng-class='{ active: isActive(\'preview\') }')
        a(ng-click='changeTab(\'preview\')') Preview
      li.catalog-tab(ng-class='{ active: isActive(\'profile\') }')
        a(ng-click='changeTab(\'profile\')') Profile
      li.catalog-tab.supporting-material-tab(ng-class='{ active: isActive(\'supporting-material\', $index) }', ng-repeat='supportingMaterial in item.supportingMaterials')
        a(ng-click='changeTab(\'supporting-material\', $index)') {{supportingMaterial.name}}
      li.catalog-print-preview-tab
        a(ng-click='print()')
          img(src='../../images/print.png')
