{
  "profile": {
    "taskInfo": {
      "title": "Short text entry"
    }
  },
  "xhtml": "<div><h1>Header</h1><p>English city:</p><corespring-text-entry id='1'></corespring-text-entry></div>",
  "components": {
    "1": {
      "componentType": "corespring-text-entry",
      "title": "Text Entry",
      "weight": 1,
      "correctResponses": {
        "values": ["York", "London"],
        "ignoreWhitespace": false,
        "ignoreCase": false,
        "award": 100,
        "feedback": {
          "type": "custom",
          "value": "Very good, you are the greatest!"
        }
      },
      "partialResponses": {
        "values": ["Lork"],
        "ignoreWhitespace": false,
        "ignoreCase": false,
        "award": 25,
        "feedback": {
          "type": "default",
          "value": "Your answer is correct, but a better answer would have been <random selection from correct answers>"
        }
      },
      "incorrectResponses": {
        "award": 0,
        "feedback": {
          "type": "default",
          "value": "Good try, but the correct answer is <random selection from correct answers>"
        }
      }
    }
  },
  "_id": "522267c2554f43f858000009",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}