{
  "profile" : {
    "taskInfo" : {
      "title" : "This is a test of short text entry..."
    }
  },
  "xhtml" : "<div><corespring-short-text-entry id='2'></corespring-short-text-entry></div>",
  "components" : {
    "2" : {
      "componentType" : "corespring-short-text-entry",
      "correctResponse": "apple",
      "model" : {
        "prompt": "This is a test item..."
      }
    }
  },
  "_id" : "522267c2554f43f858000011",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}
