{
  "profile" : {
    "taskInfo" : {
      "title" : "Select Text Interaction Example"
    }
  },
  "xhtml" : "<div><corespring-select-text id='1'></corespring-select-text><br/><corespring-feedback-block id='2'></corespring-feedback-block><br/><corespring-feedback-block id='3'></corespring-feedback-block></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-select-text",
      "title": "Select Text Sample, word",
      "weight" : 1,
      "model" : {
        "prompt": "Select the fruits from the text",
        "config": {
          "selectionUnit": "word",
          "checkIfCorrect": true
        },
        "choices" : [
          {
            "data" : "But"
          },
          {
            "data" : "I'm"
          },
          {
            "data" : "going"
          },
          {
            "data" : "to"
          },
          {
            "data" : "have"
          },
          {
            "data" : "to"
          },
          {
            "data" : "explain"
          },
          {
            "data" : "to"
          },
          {
            "data" : "you"
          },
          {
            "data" : "how"
          },
          {
            "data" : "all"
          },
          {
            "data" : "this&acute;"
          },
          {
            "data" : "mistaken"
          },
          {
            "data" : "apple",
            "correct" : true
          },
          {
            "data" : "of"
          },
          {
            "data" : "denouncing"
          },
          {
            "data" : "pleasure"
          },
          {
            "data" : "and"
          },
          {
            "data" : "<b>raisin<\/b>",
            "correct" : true
          },
          {
            "data" : "pain"
          },
          {
            "data" : "was"
          },
          {
            "data" : "<u><i>born<\/i><\/u>"
          },
          {
            "data" : "and"
          },
          {
            "data" : "I"
          },
          {
            "data" : "will"
          },
          {
            "data" : "give"
          },
          {
            "data" : "you"
          },
          {
            "data" : "a"
          },
          {
            "data" : "complete"
          },
          {
            "data" : "account"
          },
          {
            "data" : "of"
          },
          {
            "data" : "the"
          },
          {
            "data" : "system,"
          },
          {
            "data" : "and"
          },
          {
            "data" : "expound"
          },
          {
            "data" : "the"
          },
          {
            "data" : "banana",
            "correct" : true
          },
          {
            "data" : "teachings"
          },
          {
            "data" : "of"
          },
          {
            "data" : "the"
          },
          {
            "data" : "great"
          },
          {
            "data" : "explorer"
          },
          {
            "data" : "of"
          },
          {
            "data" : "the"
          },
          {
            "data" : "truth,"
          },
          {
            "data" : "the"
          },
          {
            "data" : "master-builder"
          },
          {
            "data" : "of"
          },
          {
            "data" : "human"
          },
          {
            "data" : "happiness."
          },
          {
            "data" : "No"
          },
          {
            "data" : "one"
          },
          {
            "data" : "rejects,"
          },
          {
            "data" : "dislikes,"
          },
          {
            "data" : "or"
          },
          {
            "data" : "avoids"
          },
          {
            "data" : "pleasure"
          },
          {
            "data" : "itself,"
          },
          {
            "data" : "because"
          },
          {
            "data" : "it"
          },
          {
            "data" : "is"
          },
          {
            "data" : "pleasure,"
          },
          {
            "data" : "but"
          },
          {
            "data" : "because"
          },
          {
            "data" : "those"
          },
          {
            "data" : "who"
          },
          {
            "data" : "do"
          },
          {
            "data" : "not"
          },
          {
            "data" : "know"
          },
          {
            "data" : "how"
          },
          {
            "data" : "to"
          },
          {
            "data" : "pursue"
          },
          {
            "data" : "pleasure"
          },
          {
            "data" : "rationally"
          },
          {
            "data" : "encounter"
          },
          {
            "data" : "consequences"
          },
          {
            "data" : "that"
          },
          {
            "data" : "are"
          },
          {
            "data" : "extremely"
          },
          {
            "data" : "painful."
          }
        ]
      }
    },
    "2" : {
      "componentType" : "corespring-feedback-block",
      "target" : {
        "id": "1"
      },
      "feedback" : {
        "outcome": {
          "responsesBelowMin": {"text": "You selected less than the minimum", "correct": false}
        }
      }
    },
    "3" : {
      "componentType" : "corespring-feedback-block",
      "target" : {
        "id": "1"
      },
      "feedback" : {
        "outcome": {
          "responsesExceedMax": {"text": "You selected more than the maximum", "correct": false}
        }
      }
    }
  },
  "_id" : "522267c2554f43f85800001f"
}