{
  "profile" : {
    "taskInfo" : {
      "title" : "Select Text Interaction Example"
    }
  },
  "xhtml" : "<div><corespring-select-text id='1'></corespring-select-text><br/><corespring-feedback-block id='2'></corespring-feedback-block><br/><corespring-feedback-block id='3'></corespring-feedback-block></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-select-text",
      "title": "Select Text Sample, word",
      "weight" : 1,
      "model" : {
        "prompt": "Select the fruits from the text",
        "config": {
          "selectionUnit": "word",
          "minSelections": 2,
          "maxSelections": 3,
          "checkIfCorrect": false
        },
        "text": "<p>But I'm going to have to explain to you how all this&acute; mistaken <correct>apple</correct> of denouncing pleasure and <b><correct>raisin</correct></b> pain was <u><i>born</i></u> and I will give you a complete account of the system, </p>and expound the <correct>banana</correct> teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
      }
    },
    "2" : {
      "componentType" : "corespring-feedback-block",
      "target" : {
        "id": "1"
      },
      "feedback" : {
        "outcome": {
          "responsesBelowMin": {"text": "You selected less than the minimum", "correct": false}
        }
      }
    },
    "3" : {
      "componentType" : "corespring-feedback-block",
      "target" : {
        "id": "1"
      },
      "feedback" : {
        "outcome": {
          "responsesExceedMax": {"text": "You selected more than the maximum", "correct": false}
        }
      }
    }
  },
  "_id" : "522267c2554f43f85800001f"
}