{
  "metadata" : {
    "title" : "Point Interaction Example"
  },
  "xhtml" : "<div><corespring-point-intercept id='1'></corespring-point-intercept><br/><corespring-feedback-block id='2'></corespring-feedback-block></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-point-intercept",
      "title": "Point interaction sample",
      "weight" : 1,
      "correctResponse": [
        "0,6",
        "-3,0"
      ],
      "model" : {
        "prompt": "Point interaction prompt",
        "config": {
          "additionalText": "More instructions about what is required for this taks. This text can run the width of this space, then wrap and push down any content below it",
          "maxPoints": 2,
          "pointLabels": "y-intercept,x-intercept"
        }
      }
    },
    "2" : {
      "componentType" : "corespring-feedback-block",
      "weight" : 0,
      "target" : {
        "id": "1"
      },
      "feedback" : {
        "correct": {
          "*" : "very good"
        },
        "incorrect": {
          "*": "Not goood."
        }
      }
    }
  },
  "_id" : "522267c2554f43f858000020"
}