{

  "profile" : {
    "taskInfo" : {
      "title" : "Point Interaction Example"
    }
  },
  "xhtml" : "<div><corespring-point-intercept id='1'></corespring-point-intercept></div><div></div>",
  "supportingMaterials": [
    {
      "name" : "Ben's Awesome Rubric",
      "materialType" : "Rubric",
      "files" : [
        {
          "_t" : "org.corespring.platform.core.models.item.resource.VirtualFile",
          "name" : "index.html",
          "contentType" : "text/html",
          "content" : "<h1>This is a test</h1>",
          "default" : true
        }
      ]
    }
  ],
  "components" : {
    "1" : {
      "componentType" : "corespring-point-intercept",
      "title": "Point interaction sample",
      "weight" : 1,
      "correctResponse": [
        "0,6",
        "-3,0"
      ],
      "feedback": {
        "correctFeedbackType": "default",
        "incorrectFeedbackType": "default"
      },
      "model" : {
        "config": {
          "graphWidth": "300px",
          "graphHeight": "300px",
          "maxPoints": 2,
          "pointLabels": [
            "label1",
            "label2"
           ],
          "domainLabel": "domain",
          "rangeLabel": "range"
        }
      }
    }
  },
  "_id" : "522267c2554f43f858000020"
}