{
  "profile" : {
    "taskInfo" : {
      "title" : "Line Interaction Example"
    }
  },
  "xhtml" : "<div><corespring-line id='1'></corespring-line><br/></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-line",
      "title": "Line interaction sample",
      "weight" : 1,
      "correctResponse": "y=2x+7",
      "feedback" :  {
        "correctFeedbackType": "default",
        "incorrectFeedbackType": "default"
      },
      "model" : {
        "prompt": "Line interaction prompt",
        "config": {
          "domain": 10,
          "range": 10,
          "scale": 1,
          "domainLabel": "x",
          "rangeLabel": "y",
          "tickLabelFrequency": 5,
          "sigfigs": -1,
          "initialCurve": "2x+4"
        }
      }
    }
  },
  "_id" : "522267c2554f43f858000021"
}