{
  "metadata" : {
    "title" : "Numbered Lines"
  },
  "xhtml" : "<div><corespring-numbered-lines id='1' /></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-numbered-lines",
      "title": "Numbered lines",
      "model" : {
        "lines": [
          "line1",
          "line2"
        ]
      }
    }
  },
  "_id" : "522267c2554f43f858000025",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}