{
  "profile" : {
    "taskInfo" : {
      "title" : "Extended text entry"
    }
  },
  "xhtml" : "<div><h1>Extended text entry</h1> <corespring-extended-text-entry id='1' /></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-extended-text-entry",
      "title": "Extended text",
      "feedback": {
        "feedbackType": "default"
      },
      "model" : {
        "config": {
          "expectedLines": "10"
        }
      }
    }
  },
  "_id" : "522267c2554f43f858000026",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}