{
  "profile" : {
    "taskInfo" : {
      "title" : "Box and Whiskers"
    }
  },
  "xhtml" : "<div><corespring-box-and-whiskers id='1'></corespring-box-and-whiskers></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-box-and-whiskers",
      "title": "Plots",
      "weight" : 1,
      "correctResponse" : {},
      "model" : {
        "graphs": [
          {
            "orientation": "horizontal",
            "domain": {
              "label": "domain label"
            },
            "range": {
              "label": "range label"
            },
            "plots": [
              {
                "dataSet": [14, 6, 3, 2, 4, 15, 11, 8, 1, 7, 2, 1, 3, 4, 10, 22, 20],
                "label": "plot 1 long",
                "adjustable": false
              },
              {
                "dataSet": [44, 6, 3, 2, 4, 30, 11, 8, 1, 7, 2, 9, 3, 4, 10, 22, 20],
                "label": "plot 2",
                "adjustable": true
              }
            ]
          },
          {
            "orientation": "vertical",
            "domain": {
              "label": "a very very long vertical domain label"
            },
            "range": {
              "label": "ver range label"
            },
            "plots": [
              {
                "dataSet": [1, 2, 3, 4, 5],
                "label": "vertical label",
                "adjustable": true
              }
            ]
          }
        ]

      }
    }
  },
  "_id" : "522267c2554f43f858000029",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}