{
  "metadata" : {
    "title" : "Box and Whiskers"
  },
  "xhtml" : "<div><corespring-box-and-whiskers id='1'></corespring-box-and-whiskers></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-box-and-whiskers",
      "title": "Fruits",
      "weight" : 10,
      "correctResponse" : { "value" : ["carrot", "turnip", "potato"] },
      "feedback" : [
        { "value" : "banana", "feedback" : "Incorrect"},
        { "value" : "carrot", "feedback" : "Correct", "notChosenFeedback" : "This is a vegetable"},
        { "value" : "apple", "feedback" : "it's a fruit" },
        { "value" : "turnip", "feedback" : "Correct", "notChosenFeedback" : "This is a vegetable" },
        { "value" : "potato", "feedback" : "Correct", "notChosenFeedback" : "This is a vegetable" },
        { "value" : "wheat", "feedback" : "Incorrect" }
      ],
      "model" : {
        "prompt": "Which of these is a vegetable?",
        "config": {
          "orientation": "horizontal",
          "shuffle": true
        },
        "choices": [
          {"label": "Banana", "value": "banana"},
          {"label": "Carrot In the Woods", "value": "carrot"},
          {"label": "Apple", "value": "apple"},
          {"label": "Turnip", "value": "turnip"},
          {"label": "Potato", "value": "potato"},
          {"label": "Wheat", "value": "wheat"}
        ]
      }
    }
  },
  "_id" : "522267c2554f43f858000029",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}