{
  "profile": {
    "contributorDetails": {
      "copyright": {
        "additional": [],
        "owner": "aspire",
        "year": 2014
      },
      "licenseType": "CC BY"
    },
    "lexile": "333",
    "otherAlignments": {
      "bloomsTaxonomy": "Applying",
      "depthOfKnowledge": "3",
      "keySkills": [
        "Arrange",
        "Define",
        "Describe",
        "Duplicate",
        "Identify",
        "Label"
      ]
    },
    "priorUse": "Interim",
    "standards": [
      {
        "category": "Reading: Literature",
        "dotNotation": "RL.1.3",
        "grades": [
          "01"
        ],
        "guid": "B0933657FF5B43f58A270195497374CF",
        "id": "4ff47f6a6bb41e469c0be631",
        "source": "HtmlParsed",
        "standard": "Describe characters, settings, and major events in a story, using key details.",
        "subCategory": "Key Ideas and Details",
        "subject": "ELA-Literacy",
        "uri": "http://corestandards.org/ELA-Literacy/RL/1/3/"
      },
      {
        "category": "Reading: Literature",
        "dotNotation": "RL.3.7",
        "grades": [
          "03"
        ],
        "guid": "03E66BC4F0B140c5927F798BF2FAD40D",
        "id": "4ff47f6a6bb41e469c0be649",
        "source": "HtmlParsed",
        "standard": "Explain how specific aspects of a text\u2019s illustrations contribute to what is conveyed by the words in a story (e.g., create mood, emphasize aspects of a character or setting)",
        "subCategory": "Integration of Knowledge and Ideas",
        "subject": "ELA-Literacy",
        "uri": "http://corestandards.org/ELA-Literacy/RL/3/7/"
      },
      {
        "category": "Reading: Informational Text",
        "dotNotation": "RI.2.9",
        "grades": [
          "02"
        ],
        "guid": "58045C1D987F446d92163B119955C7A5",
        "id": "4ff47f6a6bb41e469c0be67d",
        "source": "HtmlParsed",
        "standard": "Compare and contrast the most important points presented by two texts on the same topic.",
        "subCategory": "Integration of Knowledge and Ideas",
        "subject": "ELA-Literacy",
        "uri": "http://corestandards.org/ELA-Literacy/RI/2/9/"
      },
      {
        "category": "Reading: Informational Text",
        "dotNotation": "RI.K.5",
        "grades": [
          "K"
        ],
        "guid": "105024249A1044b884DD15D7B4FABEF7",
        "id": "4ff47f6a6bb41e469c0be665",
        "source": "HtmlParsed",
        "standard": "Identify the front cover, back cover, and title page of a book.",
        "subCategory": "Craft and Structure",
        "subject": "ELA-Literacy",
        "uri": "http://corestandards.org/ELA-Literacy/RI/K/5/"
      }
    ],
    "taskInfo": {
      "gradeLevel": [
        "02",
        "01",
        "KG"
      ],
      "reviewsPassed": [
        "Editorial",
        "Bias",
        "Content",
        "Psychometric"
      ],
      "standards": [],
      "subjects": {
        "primary": {
          "category": "Art",
          "id": "4ffb535f6bb41e469c0bf2a8",
          "subject": "Performing Arts"
        },
        "related": {
          "category": "Art",
          "id": "4ffb535f6bb41e469c0bf2a9",
          "subject": "AP Music Theory,Visual Arts"
        }
      },
      "title": "Supporting Materials Example"
    }
  },
  "files": [
    {
      "name": "cute-puppy.jpg",
      "contentType": "image/jpeg"
    },
    {
      "name": "cute-kitten.jpg",
      "contentType": "image/jpeg"
    },
    {
      "name": "style.css",
      "contentType": "text/css",
      "content": "body{ color: #99ff99; }"
    },
    {
      "name": "scoring.js",
      "contentType": "text/javascript",
      "content": "<%- helper.read('../js/1.scoring.js')  %>"
    }
  ],
  "xhtml": "<%- helper.read('../xml/1.xhtml') %>",
  "components": {
    "2": {
      "componentType": "corespring-drag-and-drop",
      "title": "Butterfly Lifecycle",
      "weight": 1,
      "correctResponse": {
        "1": "egg",
        "2": "pupa",
        "3": "larva",
        "4": "adult"
      },
      "feedback": [
        {
          "feedback": [],
          "landingPlace": "1"
        }
      ],
      "model": {
        "config": {
          "shuffle": true
        },
        "prompt": "Drag the 2nd stage of the butterfly's lifecycle on to the the pod",
        "answerArea": "A butterfly first is a <span landing-place id='1' class='inline' />. It is then a <span landing-place id='2' class='inline'/>. And then a <span landing-place id='3' class='inline'/>. Finally a <span landing-place id='4' class='inline'/>",
        "choices": [
          {
            "content": "Pupa",
            "id": "pupa"
          },
          {
            "content": "Egg",
            "id": "egg"
          },
          {
            "content": "Larva",
            "id": "larva"
          },
          {
            "content": "Adult",
            "id": "adult"
          }
        ]
      }
    },

    "3": {
      "componentType": "corespring-multiple-choice",
      "title": "Get a Job",
      "weight": 4,
      "correctResponse": {
        "value": ["2"]
      },
      "scoreMapping": {
        "1": 0.5,
        "2": 1,
        "3": -1,
        "4": -1
      },
      "feedback": [
        {
          "value": "1",
          "feedback": "Incorrect"
        },
        {
          "value": "2",
          "feedback": "Correct",
          "notChosenFeedback": "This would have been the correct one."
        },
        {
          "value": "3",
          "feedback": "Incorrect"
        },
        {
          "value": "4",
          "feedback": "Incorrect"
        }
      ],
      "model": {
        "prompt": "What is 1 + 1?",
        "config": {
          "orientation": "vertical",
          "shuffle": true,
          "singleChoice": true
        },
        "choices": [
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          }
        ]
      }
    },
    "4": {
      "componentType": "corespring-multiple-choice",
      "title": "Fruits",
      "weight": 10,
      "correctResponse": {
        "value": ["carrot", "turnip", "potato"]
      },
      "feedback": [
        {
          "value": "banana",
          "feedback": "Incorrect"
        },
        {
          "value": "carrot",
          "feedback": "Correct",
          "notChosenFeedback": "This is a vegetable"
        },
        {
          "value": "apple",
          "feedback": "it's a fruit"
        },
        {
          "value": "turnip",
          "feedback": "Correct",
          "notChosenFeedback": "This is a vegetable"
        },
        {
          "value": "potato",
          "feedback": "Correct",
          "notChosenFeedback": "This is a vegetable"
        },
        {
          "value": "wheat",
          "feedback": "Incorrect"
        }
      ],
      "model": {
        "prompt": "Which of these is a vegetable?",
        "config": {
          "orientation": "vertical",
          "shuffle": true
        },
        "choices": [
          {
            "label": "Banana",
            "value": "banana"
          },
          {
            "label": "Carrot",
            "value": "carrot"
          },
          {
            "label": "Apple",
            "value": "apple"
          },
          {
            "label": "Turnip",
            "value": "turnip"
          },
          {
            "label": "Potato",
            "value": "potato"
          },
          {
            "label": "Wheat",
            "value": "wheat"
          }
        ]
      }
    }
  },
  "supportingMaterials": [
    {
      "id": "53593dc3bcb56417d49a3d26",
      "name": "Custom Rubric",
      "materialType": "Rubric",
      "files": [
        {
          "_t": "org.corespring.platform.core.models.item.resource.VirtualFile",
          "name": "index.html",
          "contentType": "text/html",
          "content": "<h1>Sample Rubric</h1><br/><p>This is a rubric for scoring this item.</p>",
          "default": true
        }
      ]
    },
    {
      "id": "53593dd4bcb56417d49a3d27",
      "name": "Student Work Example",
      "materialType": "Student Work",
      "files": [
        {
          "_t": "org.corespring.platform.core.models.item.resource.VirtualFile",
          "name": "index.html",
          "contentType": "text/html",
          "content": "<h1>Ben's Work</h1><br/><p>\\(1 + 1 \\ne 2\\)</p><p>I like carrots.</p>",
          "default": true
        }
      ]
    },
    {
      "id": "53593ddebcb56417d49a3d28",
      "name": "FunnyPDF",
      "materialType": "Student Work",
      "files": [
        {
          "_t": "org.corespring.platform.core.models.item.resource.StoredFile",
          "name": "student-work.pdf",
          "contentType": "application/pdf",
          "storageKey": "533eb66423fd754c27208041/53593ddebcb56417d49a3d28/student-work.pdf",
          "default": true,
          "dateModified": {
            "$date": 1234
          }
        }
      ]
    },
    {
      "name" : "BooPdf",
      "materialType" : "Scoring Guide",
      "id" : "547350abd4c6e7a93b3d5526",
      "files" : [
        {
          "name" : "camera_receipt.pdf",
          "contentType" : "application/pdf",
          "storageKey" : "533eb66423fd754c27208041/547350abd4c6e7a93b3d5526/camera_receipt.pdf",
          "default" : true
        }
      ]
    }
  ],
  "_id": "533eb66423fd754c27208041",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}