{
  "profile": {
    "taskInfo": {
      "title": "Number Line"
    }
  },
  "xhtml": "<div>Number A line test<br/> <corespring-number-line id='1'></corespring-number-line><br/>Here.</div>",
  "components": {
    "1": {
      "componentType": "corespring-number-line",
      "title": "Number Line",
      "weight": 1,
      "correctResponse": [
        {
          "type": "point",
          "domainPosition": 3
        }
      ],
      "model": {
        "config": {
          "domain": [0, 20]
        },
        "objects": [
        ]
      }
    }
  },
  "_id": "533eb66423fd754c2720804f",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}