{
  "profile": {
    "taskInfo": {
      "title": "Number Line"
    }
  },
  "xhtml": "<div><div corespring-number-line id='1'></div><br/></div>",
  "components": {
    "1": {
      "componentType": "corespring-number-line",
      "title": "Number Line",
      "weight": 1,
      "correctResponse": [
        {
          "type": "point",
          "domainPosition": 3
        }
      ],
      "model": {
        "objects": [
          {
            "type": "point",
            "pointType": "empty",
            "domainPosition": 3,
            "rangePosition": 1
          },
          {
            "type": "line",
            "domainPosition": 2,
            "rangePosition": 2,
            "size": 2,
            "leftPoint": "full",
            "rightPoint": "empty"
          }
        ]
      }
    },
    "2": {
      "componentType": "corespring-number-line",
      "title": "Number Line",
      "weight": 1,
      "correctResponse": {},
      "model": {
        "orientation": "horizontal"
      }
    }
  },
  "_id": "533eb66423fd754c2720804f",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}