{
  "profile": {
    "taskInfo": {
      "title": "Number Line"
    }
  },
  "xhtml": "<div>Number A line test<br/> <corespring-number-line id='1'></corespring-number-line><br/>Here.</div>",
  "components": {
    "1": {
      "componentType": "corespring-number-line",
      "title": "Number Line",
      "weight": 1,
      "correctResponse": [
        {
          "type": "point",
          "pointType": "empty",
          "domainPosition": 3
        },
        {
          "type": "line",
          "domainPosition": 2,
          "size": 2,
          "leftPoint": "full",
          "rightPoint": "empty"
        }
      ],
      "model": {
        "config": {
          "domain": [0, 20],
          "maxNumberOfPoints": 3,
          "tickFrequency": 20,
          "snapPerTick": 2,
          "showMinorTicks": true,
          "initialType": "PF",
          "exhibitOnly": false,
          "availableTypes": {
            "PF":  true,
            "LEE": true,
            "LEF": true,
            "LFE": true,
            "LFF": true,
            "REP": true,
            "REN": true,
            "RFP": true,
            "RFN": true
          }
        },
        "initialElements": [
          {
            "type": "point",
            "pointType": "full",
            "domainPosition": 3,
            "rangePosition": 1
          },
          {
            "type": "line",
            "domainPosition": 2,
            "rangePosition": 2,
            "size": 2,
            "leftPoint": "full",
            "rightPoint": "empty"
          },
          {
            "type": "ray",
            "domainPosition": 2,
            "rangePosition": 3,
            "pointType": "empty",
            "direction": "positive"
          }
        ]
      }
    }
  },
  "_id": "533eb66423fd754c2720804f",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}