{
  "metadata" : {
    "title" : "Image component"
  },
  "xhtml" : "<div><corespring-image id='1'></corespring-image></div>",
  "components" : {
    "1" : {
      "componentType" : "corespring-image",
      "imageUrl": "puppy.jpg"
    }
  },
  "_id" : "522267c2554f43f858000006",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}