{
  "metadata" : {
    "title" : "Item One"
  },
  "files" : [
    { "name" : "cute-puppy.jpg", "contentType" : "image/jpeg" },
    { "name" : "cute-kitten.jpg", "contentType" : "image/jpeg" },
    { "name" : "style.css", "contentType" : "text/css", "content" : "body{ color: #99ff99; }" },
    { "name" : "scoring.js", "contentType" : "text/javascript", "content" : "<%- helper.read('../js/1.scoring.js')  %>" }
   ],
  "xhtml" : "<%- helper.read('../xml/drag-and-drop-only.xhtml') %>",
  "components" : {
    "2" : {
      "componentType" : "corespring-drag-and-drop",
      "title": "Butterfly Lifecycle",
      "weight" : 1,
       "correctResponse": [ { "landingPlace" : "1", "choiceId" : "larva"} ],
        "feedback" : [
          {
            "landingPlace" : "1",
            "feedback" :
              [
                { "larva" : "Great"},
                { "other" : "Not great" }
              ]
          }
        ],
        "model" : {
          "config" : {
            "shuffle" : true
          },
          "prompt": "Drag the 2nd stage of the butterfly's lifecycle on to the the pod",
          "answerArea" : "<div>Drop your answer here: <landingPlace id='1'></landingPlace></div>",
          "choices" : [
            { "id" : "pupa", "fixed" : true, "content" : "Pupa"},
            { "id" : "egg", "content" : "Egg"},
            { "id" : "larva","content" : "Larva"},
            { "id" : "adult", "content" : "Adult" }
          ]
        }
      }
    }

  },
  "_id" : "522267c2554f43f858000005",
  "org": {
    "components": [
      "corespring/*"
    ]
  }
}