mixin radio(value, label, ngModel)
  label.radio-inline
    input(ng-disabled="mathType == \'MathML\'", 
      type="radio", 
      group="mathType", 
      ng-model!=ngModel, 
      value!=value)
    = label

.mathjax-dialog-root
  .header
    .mj-dialog-content
      | Use this window to add a math equation for your item.
      | Do this by authoring some math text in 
      a(href="http://en.wikipedia.org/wiki/MathML", target="_blank") MathML
      | &nbsp;or 
      a(href="http://en.wikipedia.org/wiki/LaTeX", target="_blank") LaTex
      | &nbsp;format in the window below.
      | If you need help authoring text, 
      a(href="http://www.wiris.com/editor/demo/en/mathml-latex.html", target="_blank") this website
      | &nbsp;can help.
    
  .mj-math-type
    form.form-inline(ng-show="!showDisplayMode()")
      | Display mode unknown
    form.form-inline(ng-show="showDisplayMode()")
      | Display mode for {{mathType}}:
      span.display-type(ng-show="mathType == \'LaTex\'")
        +radio('inline', 'Inline', 'displayType')
        +radio('block', 'Block', 'displayType')
      span.display-type(ng-show="mathType == \'MathML\'") Block
  .main
    textarea.math-textarea(ng-model="preppedMath",  placeholder="Enter MathML or LaTex here...")
    .math-preview
      .preview-label Preview
      .preview-body