mixin radio(value, label, ngModel)
  label.radio-inline
    input(ng-disabled="mathType == \'MathML\'", 
      type="radio", 
      group="mathType", 
      ng-model!=ngModel, 
      value!=value)
    = label

.mathjax-dialog-root
  .header
    .mj-dialog-content
      p
        | Use this window to add math symbols and/or equations to your item using MathML and LaTex code.
      p
        | For help with writing the code, go to a &nbsp;
        a(href="http://www.wiris.com/editor/demo/en/mathml-latex.html", target="_blank") this site.
        | &nbsp;Copy and paste the code into the window below.
      i.sample
        p
          | Sample code for &nbsp;
          span.fraction
            span.fup
            | 1
            span.bar
            | &nbsp;
            span.fdn
            | 2
          | &nbsp;:
        p
          | MathML: &lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;mfrac&gt;&lt;mn&gt;1&lt;/mn&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/mfrac&gt;&lt;/math&gt;
        p
          | LaTex: \frac12
  .mj-math-type
    form.form-inline(ng-show="!showDisplayMode()")
      | Display mode unknown
    form.form-inline(ng-show="showDisplayMode()")
      | Display mode for {{mathType}}:
      span.display-type(ng-show="mathType == \'LaTex\'")
        +radio('inline', 'Inline', 'displayType')
        +radio('block', 'Block', 'displayType')
      span.display-type(ng-show="mathType == \'MathML\'") Block
  .main
    textarea.math-textarea(ng-model="preppedMath",  placeholder="Type or Cut/Paste MathML or LaTex here...")
    .math-preview
      .preview-label Preview
      .preview-body