extends layout

block head

  link(rel="stylesheet", href="../../components/select2/select2.css")
  link(rel="stylesheet", href="../../css/editor.css")

  style.
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Roboto, sans-serif;
      font-size: 14px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 10px;
    }

block content
  .root(ng-controller="Root")
    catalogview(item='item', selectedTab='{{selectedTab}}', printMode='{{printMode}}', supportingMaterialIndex='{{supportingMaterialIndex}}')

block scripts

  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")
  script(type="text/javascript",src="../../components/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")


  script.

    $(document).ready(function () {
      var configPath = 'catalog-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'corespring-player.controllers',
            'corespring-catalog.directives',
            'corespring-catalog.controllers',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'ui.router',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ].concat(data.angular.dependencies);

          angular.module("corespring-catalog", playerDeps).config(function($provide) {
            
            //Disable logging.. 
            /*$provide.decorator('$log', function($delegate, $sniffer) {
                var _log = $delegate.log; //Saving the original behavior

                $delegate.log = function(message) { };
                $delegate.debug = function(message) { };
                $delegate.error = function(message) {
                }

                return $delegate;
            });*/

          });

          angular.bootstrap(document, ["corespring-catalog"]);
          angular.resumeBootstrap();
          $("body").addClass('blend');
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });

      });
    });
