
extends app-loader-layout

block content
  .root(ng-controller="CatalogRoot")

    .nav-container
      nav.navbar.navbar-default.navbar-fixed-top
        ul.nav.navbar-nav
          li(ui-sref-active="active")
            a(ui-sref="item" ) Item
          li(ui-sref-active="active")
            a(ui-sref="profile" ) Profile
          li.dropdown(ng-class="{active: isSupportingMaterialsSection()}")
            a.dropdown-toggle(data-toggle="dropdown") Supporting Materials <span class="caret"></span>
            ul.dropdown-menu
              li(ng-repeat="s in supportingMaterials",ng-model="s",ng-class="{divider: s.type == 'divider'}")
                .dropdown-header(ng-if="s.type == 'header'") {{s.label}}
                a(ng-if="s.type == 'data'",ui-sref="supporting-material({index: s.index})") {{s.label}}

    .content-container
      .top-nav
        button.toggle-left-nav.btn.btn-sm.btn-default(ng-click="toggleLeftNav()")
          i.fa.fa-bars

      .main-content(ui-view="main")

    include partials/catalog/item
    include partials/catalog/profile
    include partials/catalog/supporting-material

block app-loader-config
  script.

    var appLoadConfig = {
      moduleName: 'corespring-catalog',
      jsonFile: 'catalog-config.json',
      dependencies: [
        'corespring-common.services',
        'corespring-common.directives',
        'corespring-common.supporting-materials',
        'corespring-player.services',
        'corespring-player.directives',
        'corespring-player.controllers',
        'corespring-catalog.controllers',
        'ui.bootstrap',
        'ui.router'
      ],
      defaultPath: '/item',
      states: {
        item: mkState('item'),
        profile: mkState('profile'),
        'supporting-material' : {
          url: '/supporting-material/:index',
          views: {
            main: {
              templateUrl: '/templates/supporting-material'
            }
          }
        }
      }
    }

block app-loader-scripts

  script( src="../../components/angular-ui/build/angular-ui.min.js", type="text/javascript")
  script( src="../../components/angular-bootstrap/ui-bootstrap-tpls.js", type="text/javascript")
  script( src="../../components/bootstrap/js/dropdown.js", type="text/javascript")
  script( src="../../components/bootstrap/js/modal.js", type="text/javascript")
  script( src="../../components/bootstrap/js/tooltip.js", type="text/javascript")
  script( src="../../components/bootstrap/js/popover.js", type="text/javascript")

  for p in catalog
    script(src="#{p}", type="text/javascript")

  for p in catalogExtras
    script(src="#{p}", type="text/javascript")
