extends player

block player-header

block player-child
  .container-player(ng-controller="ContainerPlayerControls")
    br/
    button.btn.btn-primary(ng-click="submit()",ng-disabled="!canSubmit()") Submit
    button.btn.btn-warning(ng-click="reset()") Reset
    hr/
    .score(ng-show="score")
      | You scored {{score.summary.percentage}}%
    .summary-feedback(ng-show="session.isComplete")
      | {{item.summaryFeedback}}

block extra-scripts
  script(src="../../js/render/controllers/container-player-controls.js", type="text/javascript")
