extends player

block player-header

  div(player-control-panel="")

block player-child

block extra-scripts
  script(src="../../js/render/controllers/container-player-controls.js", type="text/javascript")
