extends layout

block head

  link(rel="stylesheet", href="../../components/select2/select2.css")
  link(rel="stylesheet", href="../../css/editor.css")

block content
  .root(ng-controller="Root")
    .nav-container
      .top-nav-filler
        
      ul.nav.nav-stacked
        li(ng-repeat="entry in nav.navEntries", ng-class="{ active: entry.active}")
          a(ng-click="nav.chooseNavEntry(entry.path)") {{entry.title}}
    
    .preview-container
      .contents
        include partials/previews/designer 
        include partials/previews/item-profile


    .content-container(ng-class="{leftnav: showLeftNav, preview: showPreview}")
      .top-nav
        button.btn.btn-sm.btn-default(ng-click="toggleLeftNav()")
          i.fa.fa-bars
        .cs-logo
        button.btn.btn-sm.btn-default.pull-right(ng-click="togglePreview()") Preview
      .main-content
        include partials/designer
        include partials/item-profile
        include partials/supporting-materials
        include partials/view-player
        include partials/overview

block scripts

  script(type="text/javascript",src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")

  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")


  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps)
            //.config(corespring.require("corespring-editor-config"));
          angular.bootstrap(document, ["corespring-editor"]);

          //Note - doing this to see if it'll help with ckeditor
          //Which seems to be doing its own script loading
          setTimeout(function(){
            angular.resumeBootstrap();
            $("body").addClass('blend')
          }, 1000);
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });

      });
    });

