extends layout

block head

  link(rel="stylesheet", href="../../components/select2/select2.css")
  link(rel="stylesheet", href="../../css/editor.css")

block content
  .root(ng-controller="Root")
    .nav-container
      .top-nav-filler
        
      ul.nav.nav-stacked
        li(ng-class="{ active: isActive('design') }")
          a(ui-sref="design") Design

        li(ng-class="{ active: isActive('view-player') }")
          a(ui-sref="view-player") View Player

        li(ng-class="{ active: isActive('item-profile') }")
          a(ui-sref="item-profile") Item Profile

        li.supporting-materials-header(ng-class="{ active: isActive('supporting-materials') }")
          a(ui-sref="supporting-materials", ng-class="{empty: !hasSupportingMaterials()}") Supporting Materials
          a.collapsable(ng-show="hasSupportingMaterials()", ng-class="{expanded: showSupportingMaterials()}",
            ng-click="toggleSupportingMaterials()")
          ul.nav.supporting-material-items(ng-show="showSupportingMaterials()")
            li.supporting-material-item(ng-repeat="supportingMaterial in item.supportingMaterials", ng-class="{ active: isSupportingMaterialActive(supportingMaterial, $index)}")
              a(ui-sref="supporting-material({index: $index})") {{supportingMaterial.name}}

        li(ng-class="{ active: isActive('overview') }")
          a(ui-sref="overview") Overview
    
    .preview-container
      .contents(ui-view="preview")

    .content-container(ng-class="{preview: showPreview}")
      .top-nav
        button.btn.btn-sm.btn-default(ng-click="toggleLeftNav()")
          i.fa.fa-bars
        .cs-logo
        button.btn.btn-sm.btn-default.pull-right(ng-click="togglePreview()") Preview
        button.btn.btn-sm.btn-default.pull-right(ng-click="save()") Save 
      .main-content(ui-view="main")

  include partials/designer
  include partials/item-profile
  include partials/supporting-materials
  include partials/supporting-material
  include partials/view-player
  include partials/overview

  include partials/previews/designer
  include partials/previews/item-profile
  include partials/previews/supporting-material

block scripts

  script(type="text/javascript",src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")

  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")


  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'ui.router',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps).config(function($stateProvider, $urlRouterProvider) {
            $urlRouterProvider.otherwise("/design");
            $stateProvider
              .state('design', {
                url: "/design",
                views: {
                  main: {
                    template: $('#designer').html()
                  },
                  preview: {
                    template: $('#designer-preview').html()
                  }
                }
              })
              .state('view-player', {
                url: '/view-player',
                views: {
                  main: {
                    template: $('#view-player').html()
                  }
                }
              })
              .state('item-profile', {
                url: '/item-profile',
                views: {
                  main: {
                    template: $('#item-profile').html()
                  },
                  preview: {
                    template: $('#item-profile-preview').html()
                  }
                }
              })
              .state('supporting-materials', {
                url: '/supporting-materials',
                views: {
                  main: {
                    template: $('#supporting-materials').html()
                  },
                  preview: {
                    template: $('#supporting-materials-preview').html()
                  }
                }
              })
              .state('supporting-material', {
                url: '/supporting-material/:index',
                views: {
                  main: {
                    template: $('#supporting-material').html()
                  },
                  preview: {
                    template: $('#supporting-material-preview').html()
                  }
                }
              })
              .state('overview', {
                url: '/overview',
                views: {
                  main: {
                    template: $('#overview').html()
                  }
                }
              })
          });

          angular.bootstrap(document, ["corespring-editor"]);
          angular.resumeBootstrap();
          $("body").addClass('blend');
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });

      });
    });

