extends layout

block head
  link(rel="stylesheet", href="../../components/select2/select2.css")
  link(rel="stylesheet", href="../../components/select2/select2.css")

  link(rel="stylesheet", href="../../css/jen.css")

block content
  .root(ng-controller="JenCtrl")
    .row
      .col-md-2(ng-class="navColumnHidden")
        ul.nav.nav-pills.nav-stacked
          li(ng-repeat="entry in navEntries", ng-class="entry.active")
            a(ng-click="chooseNavEntry(entry.path)") {{entry.title}}

      .col-md-6
        .container
          button(ng-click="toggleNav()") toggle nav
          button(ng-click="togglePreview()") toggle preview
          p This is where the editor goes

      .col-md-4(ng-class="previewColumnHidden")
        .container
          p This is where the preview goes

block scripts
  script(src="/client/components/angular-bootstrap/ui-bootstrap.js", type="text/javascript")
  script(src="/client/components/angular-bootstrap/ui-bootstrap-tpls.js", type="text/javascript")
  script(src="/client/js/jen/controllers/_declaration.js", type="text/javascript")
  script(src="/client/js/jen/controllers/jen.js", type="text/javascript")


  script.
    $(document).ready(function () {
      angular.module("corespring-jen-app", ["ui.bootstrap", "corespring-jen.controllers"])
      angular.bootstrap(document, ["corespring-jen-app"]);
      angular.resumeBootstrap();
    });

