doctype 5
html(xmlns="http://www.w3.org/1999/html")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href='//fonts.googleapis.com/css?family=Roboto:400,700,400italic', rel='stylesheet', type='text/css')
    title= title
    block head
  body.hide-body
    block content

    script.
      // hey Angular, we're bootstrapping manually!
      window.name = "NG_DEFER_BOOTSTRAP!";

    script(src="../../js/libs/headjs/1.0.3/head.min.js")
    for p in coreLibs
      script(src="#{p}", type="text/javascript")
        
    for p in core
      script(src="#{p}", type="text/javascript")

    block scripts

    script(type="text/javascript",src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
