doctype 5
html(xmlns="http://www.w3.org/1999/html")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    //build:css css/all.css
    link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
    //link(rel="stylesheet", href="css/app.css")
    //endbuild

    title= title
    block head
  body.hide-body
    block content

    script.
      // hey Angular, we're bootstrapping manually!
      window.name = "NG_DEFER_BOOTSTRAP!";

    script(src="/client/js/libs/headjs/1.0.2/head.min.js")
    script(src="/client/js/libs/ckeditor-modular/ckeditor.js")
    
    script(src="/client/components/jquery/jquery.min.js")
    script(src="/client/components/jquery-ui/ui/minified/jquery-ui.min.js")
    script(src="/client/components/angular/angular.js")
    script(src="/client/components/lodash/dist/lodash.js")
    script(src="/client/components/angular-ui-sortable/src/sortable.js")
    script(src="/client/components/corespring-ng-components/build/corespring-ng-components.js")
    script(src="/client/components/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(src="/client/js/common/directives/_declaration.js")
    script(src="/client/js/common/directives/ng-bind-html-unsafe.js")

    script(src="/client/js/common/services/_declaration.js")
    script(src="/client/js/common/services/math-service.js")

    script(src="/client/js/corespring/core.js")
    script(src="/client/js/corespring/lodash-mixins.js")

    block scripts