extends player-base

block player-header
  div(player-control-panel="",showResetButton="false",showFeedbackButton="false")

//player goes here

block player-child
  summary-feedback(template="player.jade",item="item",session="session")
