@import "../bower_components/bootstrap/less/bootstrap";

@bg-color: #ffffff;
@text-color: #555555;
@navbar-inverse-bg : #1c2a1f;
@font-family-sans-serif: "Ubuntu", sans-serif;

body{}

.hide-body{
  opacity: 0;
}
.blend {
  opacity: 1;
  transition: opacity 300ms;
}