@import "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/less-elements/elements";

@cs-green: #92d200;
@bg-color: #fffff4;
@text-color: #555555;
@navbar-inverse-bg : #ffffff;
@font-family-sans-serif: "Ubuntu", sans-serif;

@icon-font-path: "../bower_components/bootstrap/fonts/";

.nav{
  .drop-shadow(0, 2px, 3px, 0.2);
  padding-top: 6px;
  padding-left: 6px;
  margin: 0px;
  border-bottom: solid 1px @cs-green;

  .btn{
    margin: 0px;
    margin-left: 4px;
  }

  .navbar-header{
    padding: 0px;
    .navbar-brand{
      background-image: url('../images/logo-new-100.png');
      width: 100px;
      height: 37px;
      margin-right: 10px;
    }
  }
}

.hide-body{
  opacity: 0;
}
.blend {
  opacity: 1;
  transition: opacity 300ms;
}

.navbar-inverse {
  background-color: lighten(@navbar-inverse-bg, 20%);
  border-color: @navbar-inverse-bg;
}

/*.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}*/

.cs-feedback{
  border: solid 1px white;
  border-radius: 3px;
  padding: 3px;
}

.cs-feedback.correct{
  border: solid 1px #74A50D;
}
.cs-feedback.incorrect{
  border: solid 1px #AF1700;
}