@import "../bower_components/less-elements/elements";
@import "../bower_components/bootstrap/less/bootstrap";
@import "app";
@import "common/variables";
@import "common/base";

body {
  font-size: 12px;
}

div.text-centered, div.para-center, div.center, .center, center, .text-centered, .para_center, .para-center {
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

p {
  margin: 0;
  font: 14px/20px "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 18px;
}

.prompt {
  font: 14px/20px "Ubuntu", Arial, Helvetica, sans-serif !important;
  padding: 0 0 18px;
  margin: 0;
  display: block;
}

.intro-2 {
  line-height: 18px;
  font-size: 14px;
  margin: 0;
  color: #333;
}