body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
}

.corespring-player-body {
  overflow-y: hidden;
}

.player-container {
  background-color: white;
  padding: 15px;
  margin-top: 26px;
  margin-bottom: 10px;
  width: 651px;

  blockquote {
    font-size: 14px;
  }

  .JXGtext {
    // This prevents labels from showing "underneath" preview
    z-index: inherit !important;
  }
}