h4 Categorize

p In <b>Categorize</b>, students drag and drop answer tiles to the appropriate category (ies). This interaction allows for either one or more correct answers.

ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Categorize</b>.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.

  li Edit the Categories.
  ul
    li Two categories are available as a default.
    li Click into the category label to edit or remove the default label. Text, math or images can be added to a category label.
    li Adding a Category: Click the "Add a Category" button to add more categories.
    li Removing a Category: Click the <i class="fa fa-trash-o"></i> to delete a category.
    li Select the number of categories to display per row. Up to four categories can be displayed in a row. Category container sizes will change based on the number of categories set to display in a row.

  li Edit the Choices.
  ul
    li Four choice blanks are available as a default. Click into a choice blank to add text, math, or an image as a choice.
    li Adding a Choice: Use the "Add a Choice Button" to add a choice.
    li Removing a Choice: Use the <i class="fa fa-trash-o"></i> to remove a choice.
    li Select the number of choices to display per row. Up to twelve choices can be displayed in a row. Choice container sizes will change based on the number of categories set to display. Note: the number of choices per row may not accurately reflect in the editor, but will display accurately in the player.
    li Select the number of categories to display per row. Up to four categories can be displayed in a row. Category container sizes will change based on the number of categories set to display in a row.

  li <i>Set the correct answers</i>
  ul
    li Drag choice or choices to category or categories. Choices can be dragged to multiple categories or multiple times to the same category.
    li To remove a choice from a category, click <i>x</i>.

  li Author the  feedback by selecting the preferred settings
  ul
    li <i>Correct Answer</i>: If the interaction if fully correct; the default message is 'Correct!'.
    li <i>Partially Correct Answer</i>: If the interaction if partially correct; the default message is 'Almost'.
    li <i>Incorrect Answer</i>: If the interaction if incorrect; the default message is 'Good try but that is not the correct answer'.

  li Score the interaction
  ul
    li Allow partial credit based on the number of correct answers submitted, this feature is optional and can be accessed via the Scoring tab at the top of the configuration panel.

  li Define other settings
  ul
    li <i>Shuffle</i>: Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the question is launched.
    li <i>Remove tile after placing</i>: Selecting this option will remove the choice tile from the choice area after it is placed in a category. Leave this option unchecked if students are allowed to place a choice tile in more than one category, or use a tile more than once in the same category. If this option is checked during authoring, the choice can not be reused in a category.
    li <i>Display choices</i>: Option to display the choice area above or below the categories in the player.
