h4 Short Answer - Categorize

p In Categorize, students may drag and drop answers to the appropriate landing place or places.

ol
  li In the formatting menu, click <b>Insert Interaction</b> and select Categorize.
  li In the editor menu, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Determine the categories for the interaction.
  li Add Categories using the <b>Add a Category</b> button.
    ul
      li Remove Categories using the <i class="fa fa-trash-o"></i> .
  li Edit the choices.
    ul
      Li <i>Adding a Choice</i>: Use the 'Add a Choice Button' to add a choice.
      Li <i>Removing a Choice</i>: Use the <i class="fa fa-trash-o"></i> next to the choice
  li Determine the correct answer. Do this by selecting the category into which the choice should be placed using the the drop down menu next to the choice.
  li Author the  feedback by selecting the preferred settings:
    ul
      Li <i>Correct Answer</i>: If the interaction if fully correct; the default message is 'Correct!'.
      Li <i>Partially Correct Answer</i>: Author feedback message if the interaction is partially correct: the default message is 'Almost!'.
      Li <i>Incorrect Answer</i>: Author feedback message if the interaction is partially correct: the default message is 'Good try but that is not the correct answer.'.
  li Score the interaction. Allow partial credit based on the number of correct answers submitted, this feature is optional.
  li Define other settings
    ul
      Li <i>Shuffle</i>: Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the item is presented launched.
      Li <i>Choice Group Label</i>: Authors may label the container for the choices; the default is <i>no label</i>.
      Li <i>Category Labels</i>:  Authors  may label the area where the student will place the choices in the correct order; the default is <i>no label</i>.
