h4 Choice Matrix


p In <b>Choice Matrix</b>, students associate choices in the first column with options in the adjacent rows. This interaction allows for either one or more correct answers. Setting more than one answer as correct allows for partial credit (see the scoring tab).


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Choice Matrix</b>.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Select the number of columns from Layout drop down menu.
  li Select input type (radio or checkboxes) from the drop down menu. Radio buttons will allow students to select one answer per row. Checkboxes allow students to select multiple answers per row.
    li Click on the header labels to edit or remove.
    li Click on the first column entry boxes to add in prompts or questions.
    li Click on "Add a Row" button to add more rows to the matrix.
    li Click on the <i class="fa fa-trash-o"></i> to remove a row.
  li  <i>Set the correct answers</i>
    li  Click on the correct radio buttons or checkboxes to set the correct answers.
  li  Author the  feedback by selecting the preferred settings.
    li <i>Choice Feedback</i>: The default setting for a choice matrix is to present no feedback messaging. Default feedback messaging will display when the "default" option is selected. To write custom feedback messaging, select the "Custom" option. Default and custom messages will appear in a block beneath the interaction.
