h4 Graph Lines (Single)

p In Graph Lines, a student graphs a single line that meets specific criteria. The student will graph the line by clicking on two points on the coordinate plane.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select Graph Lines.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Configure the coordinate plane and identify the line to be graphed by the student.
  li First, determine whether the graph will be an Exhibit. If this option is selected, it will be visual that is presented in the question and the student will not be able to interact with the graph.
    ul
      li If the graph will be used as an exhibit, enter the line to display. The line must be entered in y=mx+b form.
      li If the student will interact with the graph, identify the correct answer by identifying the line the student will graph. The line must be entered in y=mx+b form.
  li Identify an initial line that will be present when the question is launched. The line must be entered in y=mx+b form. This feature is optional.
  li Adjust the Graph attributes. Authors may adjust the following settings:
    ul
      li Width/Height
      li Domain
      li Domain label
      li Range
      li Range label
      li Tick label frequency
      li Scale
      li Significant Figures
  li Determine whether the graph should display the point coordinates for points plotted on the graph.
  li Determine whether the graph inputs should be displayed on the graph border.
  li Author the  feedback by selecting the preferred setting:
    ul
      li <b>Correct Answer</b>: Author a feedback message if the interaction if fully correct; the default message is 'Correct!'.
      li <b>Incorrect Answer</b>: Author feedback message if the interaction is partially correct: the default message is 'Good try but that is not the correct answer.'.
