h4 Short Answer - Select Answer


p In Short Answer - Select Answer, students select the best response from a list of options presented. This interaction type may be embedded inline with other content such as text.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Short Anwer - Select Answer</b>.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel
  li Edit the choices; choices may be text, URLs, or math language.
    ul
      li <i>Adding a Choice</i>: Click the <i>Add a Choice</i> button to add a choice.
      li <i>Removing a Choice</i>: Use the <i class="fa fa-times"></i> next to the choice
  li Author the  feedback by selecting the preferred settings:
    ul
      li <i>Choice Feedback</i>: The default setting for a drop down choice is to present default feedback, which reads 'Correct' for a correct answer or 'Good try but that is not the correct answer' for an incorrect response.To add custom feedback to the student, select custom feedback. You may also select the 'No feedback' option.
  li Select the correct answer by clicking on the <i class="fa fa-check"></i>.
  li Define other settings
    ul
      li <i>Shuffle</i>: Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the question is launched.
