h4 Evaluate an Expression

p In Evaluate an Expression a student submits a linear or polynomial expression to be evaluated. 

ol
  li In the formatting menu, click **Insert Interaction** and select **Evaluate an Expression**.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Enter the expression against which the the student's response will be evaluated.  Note that *y* is the dependent variable and *f(x)* is some function where *x* is the independent variable.
    ul
      li When the student submits an answer the answer will be evaluated against the expression by generating test points. The test points are created by replacing the *x* value within the function with random whole numbers within the domain. The *y* value is then determined by evaluating the equation using an evaluate function. This is done about 50 times to verify correctness.
  li Decide whether you want to include **Hints** to help the student construct their answer.
  li Author the feedback
    ul
      li *Correct Answer*: Author a feedback message if the interaction if fully correct; the default message is “Correct!”.
      li *Incorrect Answer*: Author feedback message if the interaction is partially correct: the default message is “Good try but that is not the correct answer.”.
      li *Interaction Feedback*: Author a feedback message for the entire interaction. The default setting is set to “no feedback.” 
