h4 Short Answer - Drag & Drop

p In Short Answer - Drag and Drop, students are asked to complete a sentence, word, phrase or equation using context clues presented in the text that surrounds it.

ol
  li  In the formatting menu, click Insert Interaction and select Short Answer- Drag and Drop.
  li  In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li  Edit the choices.
      li  Four choice blanks are available as a default. Click into a choice blank to add text, math, or an image as a choice.
      li  <i>Adding a Choice</i>: Use the 'Add a Choice Button' to add a choice.
      li  <i>Removing a Choice</i>: Use the <i class="fa fa-trash-o"></i> to remove a choice.
  li  Edit the problem area
      li  Begin typing in the problem area. The editor bar offers bold and italic formatting options, as well as the option to add images, math or urls.
      li  To add an answer blank, click “Add an answer blank” option from the editing bar. An answer blank will appear at cursor point in the problem area.
      li  Drag choice(s) to an answer blank. Choices can be dragged to multiple answer blanks or multiple times to the same answer blank.
      li  To remove a choice from an answer blank, click  <x icon>.
      li  To delete an answer blank, click the <x icon> in the lower right corner of the blank.
  li  Author the feedback by selecting the preferred settings:
      li  Correct Answer: If the interaction if fully correct; the default message is 'Correct!'.
      li  Partially Correct Answer: Author feedback message if the interaction is partially correct: the default message is 'Almost!'.
      li  Incorrect Answer: Author feedback message if the interaction is partially correct: the default message is 'Good try but that is not the correct answer.'
  li  Score the interaction. Allow partial credit based on the number of correct answers submitted, this feature is optional and can be accessed via the Scoring tab at the top of the configuration panel.
  li  Define other settings
      li  <i>Shuffle:</i> Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the question is presented launched.
      li  <i>Remove tile after placing:</i> Selecting this option will remove the choice tile from the choice area after it is placed in an answer blank. Leave this option unchecked if students are allowed to place a choice tile in more than one answer area, or use a tile more than once in the same answer area. If this option is checked during authoring, the choice can not be reused in an answer blank.
      li  <i>Display choices:</i> Option to display the choice area above or below the problem area.
