h4 Short Answer - Drag & Drop

p In Short Answer - Drag and Drop, students are asked to complete a sentence, word, phrase or equation using context clues presented in the text that surrounds it.

ol
li  In the formatting menu, click <b>Insert Interaction</b> and select Short Answer- Drag and Drop.
li  In the editor menu, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
li  Edit the problem area
    li  Text before (optional): Type here to include text that will appear to the student before the answer blank.
    li  Correct Answer(s): Select the correct answer(s) for the answer blank (see #4, <i>Edit the choices</i> below) by clicking the checkbox next to it. More than one correct answer may be selected.        Unclicking a checkbox will remove it as a correct answer for this answer blank.
    li  Text after (optional): Type here to include text that will appear to the student after the answer blank.
    li  Insert Line Break: Click here to add a line break after the problem area.
    li  Adding a Problem Area: Use the <i>Add a Problem Area</i> to add another problem area, which includes another answer blank.
    li  Removing a Problem Area: Click the <i>x</i> in the corner of the problem area to remove.
li  Edit the choices.
    li  Four choice blanks are available as a default. Click into a choice blank to add text, math, or an image as a choice.
    li  Adding a Choice: Use the 'Add a Choice Button' to add a choice.
    li  Removing a Choice: Use the <icon>  next to the choice to remove a choice.
li  Author the feedback by selecting the preferred settings:
    li  Correct Answer: If the interaction if fully correct; the default message is 'Correct!'.
    li  Partially Correct Answer: Author feedback message if the interaction is partially correct: the default message is 'Almost!'.
    li  Incorrect Answer: Author feedback message if the interaction is partially correct: the default message is 'Good try but that is not the correct answer.'
li  Score the interaction. Allow partial credit based on the number of correct answers submitted, this feature is optional and can be accessed via the <i>Scoring</i> tab at the top of the configuration panel.
li  Define other settings
    li  Shuffle: Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the question is presented launched.
    li  Remove tile after placing: Selecting this option will remove the choice tile from the choice area after it is placed in an answer blank. Leave this option unchecked if students are allowed to place a choice tile in more than one answer area.
    li  Display tab: Under the Display tab, the layout of the choices may be set to either vertical or horizontal alignment, and can be set to appear above or below the problem area.
