h4 Introduction to Interactions

p CoreSpring supports a number of interaction types that may be used to build engaging questions for students; all questions can include a variety of media to promote maximum engagement. To add interactions in a question:

ol
  li In the formatting menu bar, click <b>Insert Interaction</b> drop down menu and select an interaction.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Configure the interaction following the guidelines in the configuration panel.
  li Design feedback and scoring.
  li Test the interaction using the preview to make sure that item behaves as expected.
