h4 Multiple Choice


p In <b>Multiple Choice</b>, students select the best response from a list of options presented. This interaction allows for either one or more correct answers.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Multiple Choice</b>.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Select a presentation format. Decide whether to present the Multiple Choice answer as radio buttons (student may submit one choice) or as checkboxes (student may submit more than one choice).
  li Edit the choices; choices may be text, images, or math language.
    ul
      li <i>Adding a Choice</i>: Use the 'Add a Choice' Button to add one.
      li <i>Removing a Choice</i>: Use the <i class="fa fa-trash-o"></i> next to the choice
  li Author the  feedback by selecting the preferred settings:
    ul
      li <i>Choice Feedback</i>: The default setting for a multiple choice is to present no feedback to the student, other than a visual cue indicating correct or incorrect selection. Custom feedback may be presented to the student using the custom feedback setting.
      li <i>Summary Feedback</i>: Author interaction level feedback for the interaction. The default setting is set to <i>no feedback</i>.
  li Select the correct answer or answers by clicking on the <i class="fa fa-check"></i>. For radio button display, where students may only select one answer but more than one choice may be identified as a correct answer. 
  li Define other settings.
    ul
      li <i>Shuffle</i>: Selecting <i>Shuffle Choices</i> will change the order of choices as they are presented to a student each time that the question is launched. Override the shuffle feature at the choice level by checking the  <i>Do Not Shuffle</i>  button next to each choice.
      li <i>Choice labels</i>: Select labels for choices (A, B, C, 1, 2, 3, or none). The default setting is A, B, C, etc.
