h4 Graph Multiple Lines

p In Graph Multiple Lines, a student draws lines that meet specific criteria. The student will graph individual lines by clicking on two points on the coordinate plane to create a connecting line.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select Graph Multiple Lines.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Configure the Graph and lines to be drawn on the coordinate plane.
  li First, determine whether the graph will be an Exhibit. If this option is selected, it will be a visual that is presented in the question and the student will not be able to interact with the graph.
    ul
      li If the graph will be used as an exhibit, enter the lines to display on the graph. The lines must be entered in y=mx+b form.
	 li Additional lines may be adding by clicking the &quot;Add a Line&quot; button.
	 li Lines may be deleted by clicking the <i class="fa fa-trash"></i>.
      li If the student will interact with the graph, identify the correct answers by identifying the lines the student will graph. The lines must be entered in y=mx+b form.
	li A label may be added to each line, and will appear with the line on the graph. This is optional.
	li Lines are differentiated by color and symbols. A key appears above the graph as lines are plotted.
  li Identify initial lines that will be present when the question is launched. The lines must be entered in y=mx+b form. This feature is also optional.
  li Adjust the Graph attributes. Authors may adjust the following settings for both the domain (x) and range (y) axes:
    ul
      li Minimum Value
	 li Maximum Value
	 li Tick value
	 li Snap Value- (constrains users to plot only on certain values)
	 li Tick label frequency
	 li Graph padding (controls the display of how the graph extends beyond the set boundaries)
      li Domain (x) label (optional)
      li Range (y) label (optional)
	 li Option to hide x and y labels on graph
      li Significant Figures
  li Authors may also adjust display settings for the graph:
	ul
	 li Graph label (optional)
	 li Width and height of graph
  	 li Determine whether the graph should display the point coordinates for points plotted on the graph.
  li Author the  feedback by selecting the preferred setting:
    ul
      li <b>Correct Answer</b>: Author a feedback message if the interaction if fully correct; the default message is 'Correct!'.
      li <b>Incorrect Answer</b>: Author feedback message if the interaction is incorrect: the default message is 'Good try but that is not the correct answer.'.
	 li <b>Partially Correct Answer</b>: Author feedback message if the interaction is partially correct: the default message is &quot;Almost!&quot;.
   li Score the interaction
     ul
	 li Allow partial credit based on the number of correct lines plotted. This feature is optional and can be accessed via the Scoring tab at the top of the configuration panel.
