h4 Number Line


p In <b>Number Line</b>, students plot points, line segments and/or rays on a number line. This interaction allows for either one or more correct answers.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Number Line</b>.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Set up the number line attributes.
    ul
      li This includes the domain, and the number of major and minor tick marks. These will display on the number line that appears at the top of the configuration panel.
      li Tick labels can be edited or removed by clicking the labels on the top number line.

  li <i> Set an initial view (optional).</i>
    ul
      li To present a starting point, line segment and/or ray to students, open the Initial View expander. This is optional. Use this area to set up an exhibit number line as well.
      li Click on the icon of the type of point, line segment or ray that you would like to plot.
      li Click on the number line.
      li The point, line segment or ray will appear on the number line.
      li To move a point, line segment or ray, click and drag it.
      li To add another point, line segment or ray, click on the number line again to place.
      li To change the type of point, line segment or ray, click the appropriate icon and click on the number line to place.
      li <i>Note: points, line segments and/or rays will appear on the number line, unless they intersect. In that case, the intersecting point, line segment or ray will appear above the number line.</i>
      li To remove a point, line segment or ray, click it and remove by either clicking the trash can icon that appears or by hitting delete on the keyboard.
      li To go back a step, click the undo button. To start over, click the start over button, which will clear out all inputs from the initial view number line.

  li <i>Set the correct answers</i>
    ul
      li Under the &quot;Correct Answers&quot; area, click on the icon of the type of point, line segment or ray that you would like to plot on the number line that appears.
      li Click on the number line.
      li The point, line segment or ray will appear on the number line.
      li To move a point, line segment or ray, click and drag it.
      li To add another point, line segment or ray, click on the number line again to place.
      li To change the type of point, line segment or ray, click the appropriate icon and click on the number line to place.
      li <i>Note: points, line segments and/or rays will appear on the number line, unless they intersect. In that case, the intersecting point, line or ray will appear above the number line.</i>
      li To remove a point, line segment or ray, click it and remove by either clicking the trash can icon that appears or by hitting delete on the keyboard.
      li To go back a step, click the undo button. To start over, click the start over button, which will clear out all inputs from the correct answer number line.

  li Author the  feedback by selecting the preferred settings:
    ul
      li <i>Choice Feedback</i>:  The default setting for a number line is to present a default message in a block below the number line. Custom feedback may be presented to the student using the custom feedback setting.
