h4 Order

p In an ordering interaction a student is asked to sequence events or inputs in a specific order.


ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Order</b>.
  li In the editor locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Determine the layout for the interaction.
    ul
      li <i>In Place</i> means that the student will sequence the choices within the group of choices available.
      li <i>Placement Area</i> means that the student will order the interaction by moving the choices from the group of choices to a landing area.
  li Edit the choices; choices may be text, images or math language.
    ul
      li <i>Adding a Choice</i>: Use the 'Add a Choice' button to add a choice.
      li <i>Removing a Choice</i>: Use the <i class="fa fa-trash-o"></i> next to the choice
  li Specify the correct answer. Do this by rearranging the choices to the correct order (for In Place ordering) or by dragging the choices into the answer area (for Placement Ordering) in the correct order  in which they should appear when an answer is submitted for evaluation.
  li Author the  feedback by selecting the preferred setting:
    ul
      li <i>Correct Answer</i>: Author a feedback message if the interaction if fully correct; the default message is 'Correct!'.
      li <i>Partially Correct Answer</i>: Author feedback message if the interaction is partially correct: the default message is 'Almost!'.
      li <i>Incorrect Answer</i>: Author feedback message if the interaction is partially correct: the default message is 'Good try but that is not the correct answer.'.
  li Score the interaction. Authors may allow for partial credit based on the number of correct answers submitted, this feature is optional.
  li Define other settings
    ul
      li <i>Shuffle</i>: Selecting 'Shuffle Choices' will change the order of choices as they are presented to a student each time that the question is launched.
      li If the Placement layout was selected, authors have the ability to select labels for choices and the answer area.
      li <i>Choice Group Label</i>: Label the container for the choices; the default is <i>no label</i>.
      li <i>Answer Area Label</i>:  Label the area where the student will place the choices in the correct order; the default is <i>no label</i>.
