h4 Plot Points

p In Plot Points, plot points on a graph by clicking on a graph.

ol
  li In the formatting menu, click <b>Insert Interaction</b> and select <b>Plot Points</b>.
  li Locate the interaction in the editor and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Determine whether the student will plot points or plot points with labels.  Selecting the labels option will reveal an additional field in which a label may be added. The default setting is plot points with labels.
  li Identify the coordinates for the points that the student will plot on the graph by entering the x and y coordinates in the fields marked ( ).
    ul
      li <i>Adding a Point</i>: Use the <i>Add a Point</i> button to add a point.
      li <i>Removing a Point</i>: Use the <i class="fa fa-trash-o"></i> next to the point.
  li Determine the settings for the points the student will plot.
    ul
      li <i>Points must match labels</i>: If points must match the settings, students must match the point settings to the instructions provided in the prompt. In other words, if a student correctly plots a point at (3,3) but the label for that point is 'A' rather than 'B', the point will be evaluated as incorrect.
      li <i>Show point coordinates</i>: Using this setting will show the coordinate points as the student is interacting with the graph.
      li <i>Maximum points</i>: Authors may set the limit on the number of points or attempts the student may make to complete the interaction. The default setting is that students may plot as many points as they like.
  li Adjust the Graph attributes. Authors may adjust the following settings:
    ul
      li Width/Height
      li Domain and domain label
      li Range and range label
      li Tick label frequency
      li Scale
  li Author the feedback by selecting preferred settings for:
    ul
      li <i>Correct Answer</i>: Author a feedback message if the interaction is fully correct; the default message is 'Correct!'.
      li <i>Incorrect Answer</i>: Author feedback message if the interaction is incorrect: the default message is 'Good try but that is not the correct answer.'.
      li <i>Summary Feedback</i>: Provide interaction level feedback for the interaction. The default setting is set to 'no feedback.'
