script#question(type="text/ng-template", templateUrl="/design/template")

  include ../templates/popups/scoring
  .question(ng-controller="QuestionController")
    button.btn.btn-default(ng-click="scoring()") Scoring

