.profile{
  padding: 10px; 

  form{
    border: solid lighten(@cs-grey, 34%) 1px;
    border-radius: 4px;
    padding: 10px;
  }

  form{
    h4, h5, h6 {
      text-transform: uppercase;
      color: lighten(@cs-grey, 10%);
    }
  }

  .tag-list-header {
    padding: 3px;
    float: left;
    font-weight: bold;
    color: lighten(@cs-green, 5%);
  }

  a.tag-list-link {
    padding: 3px;
    float: left;
    text-decoration: none;
  }

  a.tag-list-link.selected {
    font-weight: bold;
  }

  .key-skills {
    .badge {
      margin-left: 20px;
    }
    .selected {
      font-style: italic;
      font-size: 70%;
    }
  }

  .lexile {
    .form-control {
      display: inline-block;
      width: 45px;
    }
    .measure {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .depth-of-knowledge {
    label {
      width: 50%;

      input[type='radio'] {
        margin: 4px 10px 0px;
      }
    }
  }

  .blooms-taxonomy {
    label {
      width: 50%;

      input[type='radio'] {
        margin: 4px 10px 0px;
      }
    }
  }

  table.license {
    margin: 0 0 0 0;
    td {
      border-style: none;
      vertical-align: middle;
      padding: 1px 5px 1px 0px;
    }
  }

}

.expander{
  margin: 5px;
  border: solid lighten(@cs-grey, 34%) 1px;
  border-radius: 4px;
  padding: 10px;
}