.question{
  padding: 10px;
  width: 100%;

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-bar{
    *{
      margin-left: 5px;
    }
  }

  .preview {
    padding:10px;
    border:2px solid dashed;
    background:white;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .preview.ng-hide {
    opacity:0;
  }


  .item-preview-wrapper {
  
    .player-container{
      border:1px dashed #ccc;
      overflow:hidden;
      border-radius: 4px;
      margin:0 auto;
      width: 600px;
      min-width: 600px;
      max-width: 600px;
    }
 
    .playerLabel {
      border:1px dashed #ccc;
      border-radius: 4px;
      position:absolute;
      top: -20px;
      left:35%;
      background:#fff;
      text-align: center;
    }
  }
}

