.question{
  padding: 10px;
  width: 100%;

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-bar{
    *{
      margin-left: 5px;
    }
  }

  .preview {
    padding:10px;
    border:1px solid black;
    background:white;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .preview.ng-hide {
    opacity:0;
  }
}

