.wiggi-wiz {

}

.wiggi-wiz-overlay {
  z-index: 11;

  .right {
    right: 10px;
  }

  .top{
    top: 15px;
  }

  .close-icon{
    background-color: transparent;
    color: white;
  }
}

.hide-overlay{
  opacity: 0.0;
}

