.wiggi-wiz {

  .wiggi-wiz-toolbar {
    .btn.external {
      color: #fff;
      background-color: #80B312;
      border-color: #ccc;

      &:hover{
        background-color: #fff;
        color: #444;
      }
    }
  }
}

.wiggi-wiz-overlay {
  z-index: 11;

  .right {
    right: 10px;
  }

  .top{
    top: 15px;
  }

  .close-icon{
    background-color: transparent;
    color: white;
  }
}

.hide-overlay{
  opacity: 0.0;
}
