@(items:Seq[org.corespring.shell.IndexLink])


@link(label:String, href:String, cssClass:String = "") = @{
  <a class={ s"btn btn-xs btn-default $cssClass" } href={href}>{label}</a>
}

@mkDrafts(drafts:Seq[org.corespring.shell.DraftLink]) = {
  <div>
    <div>Drafts:</div>
    <ul>

    @drafts.map{ d   =>
      <li>
        <span>@d.name</span>
        @link("edit", d.edit, "btn-xs")
        @link("dev-edit", s"${d.edit}?devEditor=true", "btn-xs")
        @link("delete", d.delete, "btn-xs")
      </li>
      }
    </ul>

  </div>
}

<!DOCTYPE html>
<html>
<head>
  <title>Corespring Container Shell</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/homepage.css">
  <style>
    table{
      vertical-align: top;
    }

    td, th{
      vertical-align: top;
      padding: 8px;
    }

    td.inner{
      border-left: dashed 1px #cccccc;
    }

    tr {
      border-bottom: solid 1px #cccccc;
    }
  </style>
</head>
<body>
  <div class="container">

    <div class="logo">
      <img src="/assets/images/logo-retina-200.png"/>
    </div>

    <br/>
    Create:
    <a href="/launch/item-editor/new-item">item</a>
    |
    <a href="/launch/component-editor/standalone">standalone component editor</a>
    |
    <a href="/launch/component-editor/item">item component editor</a>
    |
    <a href="/launch/component-editor/draft">draft component editor</a>

    <br/><br/>

    <table>
      <tr>
        <th>Title</th>
        <th>Player</th>
        <th>Catalog</th>
        <th>Item Editor</th>
        <th>Draft Editor</th>
        <th></th>
      </tr>
      @items.map{ i =>
      <tr>
        <td>@i.title</td>
        <td class="inner">
          @link("Run", s"${i.createSession}?mode=dev&showControls=true", "btn-success")
          @link("Prod", s"${i.createSession}?mode=prod", "btn-primary")
        </td>
        <td class="inner">
          @link("Catalog", i.catalog, "btn-info")
          @link("Catalog (Profile Only)", s"${i.catalog}?tabs=profile", "btn-info")
        </td>
        <td class="inner">
          @link("Edit Item", i.itemEdit)
          @link("Edit Item DevEditor", s"${i.itemEdit}?devEditor=true")
        </td>
        <td class="inner">
          @link("New Draft", i.draftEdit)
          @link("New Draft DevEditor", s"${i.draftEdit}?devEditor=true")
          <br/>
          @if(!i.drafts.isEmpty){
            @mkDrafts(i.drafts)
          }

        </td>
        <td class="inner">
          @link("Delete", i.delete, "btn-danger")
        </td>
      </tr>
      }
    </table>

  </div>

</body>
</html>
