form.weight-form(name='weightForm')
  .row.form-group(ng-click='selectComponent()', ng-class="{'has-error': weightForm.input.$error.number}")
    .col-sm-offset-2.col-sm-4
      label.control-label(for='{{uid}}') {{getTitle(component.componentType)}} is worth
    .col-sm-4
      .input-group
        input.form-control(id="{{uid}}", ng-disabled='{{disabled}}', name='input', min='0', max='100', number-validation='number-validation', ng-focus='selectComponent()', ng-model='component.weight')
        span.input-group-addon pts
        span.input-group-addon(style='width: 52px;') {{getPercentage(component.weight)}}%
