.preview-player-control-panel
  span.score
    label(ng-show="isNumber(score.summary.percentage)") Score: &nbsp;{{score.summary.percentage}}%&nbsp;&nbsp;
  .control-buttons
    button.btn-submit(ng-click="submit()", ng-show="showSubmit") Submit Answer
    button.btn-reset(ng-click="reset()", ng-show="showReset") Reset