.preview-player-control-panel
  span.score(ng-show="score")
   label Score: &nbsp;
   {{score.summary.percentage}}%&nbsp;&nbsp;
  .control-buttons
    button.btn-submit(ng-click="submit()", ng-disabled="mode == 'evaluate'") Submit Answer
    button.btn-reset(ng-click="reset()", ng-disabled="mode != 'evaluate'") Reset