extends layout

block content
  .container-fluid
    .nav-container.row
      nav.navbar-default
        .container-fluid
          .helpWrapper
            a.help(href='#help')
              i.fa.fa-question-circle
          ul.list-unstyled.list-inline
            li
              .title-nav Untitled
            li
              .dropdown
                button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Actions
                  span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                  li(role='presentation')
                    a#nav-new(role='menuitem', tabindex='-1', href='#') New
                  li(role='presentation')
                    a#nav-open(role='menuitem', tabindex='-1', href='#') Open...
                  li(role='presentation')
                    a#nav-copy(role='menuitem', tabindex='-1', href='#') Copy...
                  li.divider(role='presentation')
                  li(role='presentation')
                    a#nav-archive(role='menuitem', tabindex='-1', href='#') Archive
                  li(role='presentation')
                    a#nav-delete(role='menuitem', tabindex='-1', href='#') Delete
                  li.divider(role='presentation')
                  li(role='presentation')
                    a#nav-question-info.catalog-view(role='menuitem', tabindex='-1', href='#') Question Information
            li
              .saveMessaging
            li
