.cs-btn{
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  height: 35px;
  display: inline-table;
  cursor: pointer;
  background-image: url('../images/cs-button-icon.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

/*Btn tight*/
.tight{
  padding-left: 7px;
  padding-right: 7px;
}

/* a less function to create 3d buttons */
/* taken from https://gist.github.com/claviska/6117193 */
.pretty-buttons(@color, @background, @text-shadow: none) {

  color: @color;
  #gradient > .vertical(lighten(@background, 10%), darken(@background, 10%), 0%, 100%);
  border-color: darken(@background, 10%);
  border-bottom-color: darken(@background, 20%);
  text-shadow: @text-shadow;
  .box-shadow(inset 0 1px 0 rgba(255, 255, 255, .1));

  &:hover,
  &:focus,
  &:active,
  &.active {
    #gradient > .vertical(darken(@background, 20), darken(@background, 0%), 0%, 100%);
    border-color: darken(@background, 20%);
    color: @color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: darken(@background, 5%);
    }
  }
}

