@component-bg-color: #eae8db;

.input-holder{

  border: solid 1px @component-bg-color;
  background-color: saturate( lighten(@component-bg-color, 10%), 50%);
  margin-top: 10px;
  .header{
    border-left: solid 6px @component-bg-color;
    padding-left: 5px;
    color: desaturate( darken(@component-bg-color, 35%), 20%);
    font-size: 16px;
  }

  .body{
    padding: 10px;
  }

}

.component-placeholder {
  position:relative; 
  border: 1px solid darken(@cs-green, 10%);
  background-color: lighten(@cs-green, 40%);
  transition: background-color 100ms linear;
  .rounded(4px);
  .user-select(none);
  .drop-shadow(0, 2px, 3px, 0.2);
  &:hover{
    background-color: lighten(@cs-green, 30%);
  }
  max-width: 400px;
  padding: 20px;


  .delete-icon{
    width: 20px;
    height: 20px;
    .drop-shadow(2px, 2px, 2px, 0.3);
    i{
      position: absolute;
      font-size: 24px;
      color: darken(@cs-green, 10%);

      &:hover{

        color: darken(@cs-green, 16%);
      }
    }
    background-color: white;
    border-radius: 12px;
    position:absolute; 
    right: -8px;
    top: -10px;
    //text-shadow: 1px 1px rgba(0,0,0,0.4);

  }
}