@component-bg-color: #ffffff;

.weight-form {
  .form-group {
    padding-bottom: 30px;
  }
}

.input-holder {
  background-color: @component-bg-color;
  margin-top: 10px;
  .header {
    border-left: solid 6px @component-bg-color;
    padding-left: 5px;
    color: desaturate(darken(@component-bg-color, 35%), 20%);
    font-size: 16px;
  }

  .body {
    padding: 10px;
  }
}

@placeholder-base-color: @grey-purple;

.component-placeholder {
  position: relative;
  margin-left: 1px;
  min-width: 90px;
  min-height: 60px;

  .blocker,
  .non-blocker {

    .content {
      display: inline-flex;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .title {

        span {
          color: white;
          background-color: black;
          padding: 3px 7px 3px 7px;
          display: inline-block;
          .rounded(3px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }
        overflow: hidden;
        width: 100%;
        text-align: center;
        .user-select(none);
      }
    }
    z-index: 10;
    .user-select(none);
    transition: opacity 200ms;
    .border-radius(4px);
    border: solid 1px black;

    .bg {
      background-color: white;
      opacity: 0.3;
      position: absolute;
      left: -2px;
      top: -2px;
      bottom: -2px;
      right: -2px;
    }

    &:hover {
      opacity: 1.0;
    }

  }

  .holder {
    padding: 5px 5px 0 5px;
  }

  .blocker {
    background-color: none;
    position: absolute;
    min-height: 40px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }

  .delete-icon, .close-icon {
    @close-icon-base-color: @grey-purple;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    right: -8px;
    top: -10px;
    .drop-shadow(2px, 2px, 2px, 0.3);

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 24px;
      color: darken(@close-icon-base-color, 10%);

      &:hover {
        color: darken(@close-icon-base-color, 16%);
      }
    }
  }

  .edit-controls {
    position: absolute;
    padding: 5px 5px 5px 20px;
    top: 2px;
    right: 2px;
    background: white;

    .delete-icon-button, .edit-icon-button {
      display: inline-block;
      @close-icon-base-color: @grey-purple;
      width: 20px;
      height: 20px;
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }

      i {
        font-size: 24px;
        color: darken(@close-icon-base-color, 10%);

        &:hover {
          color: darken(@close-icon-base-color, 16%);
        }
      }
    }
  }
}