 .config {
    flex: 2;
    border-left: solid 1px darken(white, 10%);
    background-color: darken(white, 5%);
    overflow: scroll;

    .config-chrome {
      padding: 10px;
      background-color: white;
      .title {
        background-color: white;
        padding: 5px;
      }
      .holder {
        padding: 5px;
      }
    }
  }