 .config {
    flex: 1;
    -webkit-flex: 1;
    overflow: scroll;
    z-index: 333;
   padding-left: 200px;
   padding-right: 50px;

    .config-chrome {
      padding: 10px;
      background-color: white;
      .title {
        background-color: white;
        padding: 5px;
        font-size: @header-font-size;
      }
      .title-input {
        background-color: white;
        border: solid 1px @bg-bottom-color;
        width: 100%;
        padding: 5px;
       font-size: 21px;
      }
      .holder {
        padding: 5px;
      }
    }
  }