config-pane {
  display: block;
  overflow: scroll;
}

.config {
  .flex();
  overflow: visible;
  height: 100%;
  padding-left: 200px;
  padding-right: 20px;

  .config-chrome {
    padding: 10px;
    background-color: white;

    .title {
      background-color: white;
      padding: 5px;
      font-size: @header-font-size;
    }

    .title-input {
      background-color: white;
      border: solid 1px @bg-bottom-color;
      width: 100%;
      padding: 5px;
      font-size: 21px;
    }

    .holder {
      padding: 5px;
    }
  }
}

