.designer {

  .weighting-container {

    .form-control {
      float: right;
      width: 44px;
    }
  }

  .summary-feedback-container {

    .centered-form {
      width: 400px;
      margin: auto;
    }

    input[type=checkbox]{
      margin-left: 10px;
      margin-right: 3px;
    }

    textarea {
      resize: vertical;
      height:200px;
    }

    .button-holder {
      text-align: right;
      padding-top: 10px;
      padding-right: 5px;
    }
  }

}