.root {

  .row-container {
    position:relative;
    height:1000px;
    width:1500px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;

    .nav-container {
      flex:200;
      -webkit-flex:200;
      height:100%;
      padding:5px;
      background-color:#fafafa;
      -webkit-transition: 1s all;
      -moz-transition: 1s all;
      -ms-transition: 1s all;
      transition: 1s all;
    }

    .nav-container.hiddenX {
      overflow: hidden;
      flex:0.1;
      -webkit-flex:0.1;
    }

    .content-container {
      flex:1200;
      -webkit-flex:1200;
      height:100%;
      padding:5px;
      background-color:#fafafa;
      -webkit-transition: 0.7s all;
      -moz-transition: 0.7s all;
      -ms-transition: 0.7s all;
      transition: 0.7s all;
    }
  }

  .nav-toggle {
    background: #2693BA;
    background-image: url('../images/menu-toggle.png');
    background-repeat: no-repeat;
    background-position: 13px 9px;
    height: 40px;
    max-height: 40px;
    max-width: 50px;
    min-width: 50px;
    border: 0;
    border-radius: 4px;
  }

  .nav-pills {
    li.active {
      a, a:focus, a:hover {
        background-color: #2693BA;
      }
    }
  }
}
