.transition-left(@duration){
  -webkit-transition: left @duration ease-in-out;
  -moz-transition: left @duration ease-in-out;
  -o-transition: left @duration ease-in-out;
  transition: left @duration ease-in-out;
}

.flex(@value: 1){
  flex: @value; 
  -webkit-flex: @value; 
}

.transition-all(){
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

.nice-shadow(@color){
  box-shadow: 0 0 18px 3px @color;
  -webkit-box-shadow: 0 0 18px 3px @color;
  -moz-box-shadow: 0 0 18px 3px @color;
}


