@profile-input-width: 500px;

.container {

  .profile {

    .nav {
      height: 42px;
    }

  }
}

.profile {

  a.tag-list-link {
    padding: 3px;
    float: left;
    text-decoration: none;
  }

  a.tag-list-link.selected {
    font-weight: bold;
  }

  .add-additional {
    display: inline-block;
    margin-bottom: 30px;
  }

  .additional-copyright-information {
    margin-top: 10px;
    margin-bottom: 20px;
    width: @profile-input-width;

    td {
      padding: 3px;
    }

    .label-col {
      text-align: right;
    }

    label {
      width: auto;
    }
  }

  .copyright-information .control-group,
  .additional-copyright-information .control-group {
    margin-bottom: 0;
  }

  .control-group {
    margin-bottom: 30px;
  }

  .control-label {
    width: 100%;
  }

  .copyright-information {
    width: @profile-input-width;

    td.label-col {
      text-align: right;
      padding: 5px;
      width: 30%;
    }
  }

  table.license {
    td {
      padding: 1px 5px 1px 0px;
    }
  }

  .help-inline {
    display: inline;
    margin-left: 20px;
    color: @help-text;
    font-size: 80%;
  }

  .item-information {
    width: 80%;
  }

  .itemTypes {

    h5 {
      font-weight: bold;
    }

    li {
      list-style-type: none;
    }

    td {
      vertical-align: top;
    }
  }

  .permissions {
    margin-bottom: 15px;

    img {
      display: block;
    }

    .label-col {
      padding-right: 5px;
    }
  }

  .required {
    display: inline-block;
    margin-bottom: 20px;
  }

  .save-btn {
    border: 2px;
    border-radius: 3px;
  }

  .standards label {
    display: block;

    &.control-label {
      margin-bottom: 15px;
    }
  }

  .subject-label {
    display: block;
  }

  .tag-list-header {
    padding: 3px;
    float: left;
    font-weight: bold;
    color: lighten(@cs-green, 5%);
  }

  .tight-button-bar {
    .btn {
      border-radius : 4px;
      padding-left: 7px;
      padding-right: 7px;
    }
  }

}






