.container {

  .profile {

    .nav {
      height: 42px;
    }
  }
}

.save-btn {
  border: 2px;
  border-radius: 3px;
}

.itemTypes {

  h5 {
    font-weight: bold;
  }

  li {
    list-style-type: none;
  }

  td {
    vertical-align: top;
  }
}

a.tag-list-link {
  padding: 3px;
  float: left;
  text-decoration: none;
}

a.tag-list-link.selected {
  font-weight: bold;
}

.tag-list-header {
  padding: 3px;
  float: left;
  font-weight: bold;
  color: lighten(@cs-green, 5%);
}