.structure-view.open{
  left: 30px;
}

.structure-view {

  overflow: scroll;
  width: 300px;
  padding-top: 10px;

  ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
  }

  li {
    list-style: none;
    margin-bottom: 0px;
  }
  .component-thumbnail.active{
    background-color: @cs-sandy-yellow;

    img{
      .drop-shadow(0, 2px, 3px, 0.3);
      opacity: 1;
    }
  }


  .component-thumbnail {
    padding: 10px;
    border-bottom: 1px solid #b8c9cf;
    position: relative;

    *{
      cursor: pointer;
    }

    img{
      opacity: 0.5;
    }
   
    table{
      width: 100%;
    }

    td{
      vertical-align: top;
    }

    .glyphicon-remove{
      font-size: 16px;
    }
    
    .counter{
      font-size: 22px;
    }

    .score-label{

    }

    .grip-tape{

      @grip-tape-height: 20px;
      background-image: url('../images/griptape-d.png');
      width: @grip-tape-height - 4px;
      height: @grip-tape-height;
      background-position: 5px 5px;
      cursor: move;
    }

    .score{
      float: right;
      padding-right: 5px;
    }

    .right{
      vertical-align: bottom;
    }

    .label{
      @label-color: #81a81f;
      color: @label-color;
      font-size: 13px;
      padding-left: 0px;

      &:hover{
        color: darken(@label-color, 10%);
      }
    }

    .type-label{
      font-size: 11px;
    }

    .delete{
      padding-top: 10px; 
      font-size: 11px;
      color:#7d715b;

      i{
        color: #b4b0b4;
        padding-right: 4px;
      }
    }
  }

  .component-thumbnail.last{
    border-bottom: 0px solid #b8c9cf;
  }

  .component-thumbnail-label:hover {
    color: slateblue;
    cursor: hand;
    cursor: pointer;
  }
}