.supporting-material {
  .wiggi-wiz, .wiggi-wiz-editable {
    height: 100%;
    overflow: inherit;
  }

  .file-upload-info {
    padding: 20px;

    h3 {
      margin: 0 0 15px;
    }

    dt {
      display: inline-block;
      min-width: 100px;

      &:after {
        content: ":"
      }
    }

    dd {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}

.supporting-materials {
  height: 100%;
}

.new-supporting-material {
  position: relative;

  .prompt {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 20px;
    top: 20px;
  }

  .options {
    margin-left: 140px;
    padding: 20px 0 50px 0;

    label {
      font-weight: bold;
    }
  }

  .wiggi-wiz {
    margin: 0 20px 20px 0;
    min-height: 300px;
  }

  .save {
    float: right;
    display: inline-block;
    margin-right: 20px;
  }

}

.root .nav-container .nav {

  li.supporting-material-item {
    a {
      padding-left: 40px;
    }
  }

  .supporting-materials-header {
    position: relative;

    a {
      padding-left: 38px;

      &.empty {
        padding-left: 15px;
      }

      &.collapsable {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        display: block;
        background: url('../images/disclosure-arrow-right.png') no-repeat center center;
        padding: 19px;

        &.expanded {
          background-image: url('../images/disclosure-arrow-down.png');
        }
      }
    }

    &.active {
      .supporting-material-item {
        a {
          color: #c2bfc2;
        }

        &.active a {
          color: #94d228;
        }
      }
    }

  }
}


.save-supporting-material-window .modal-content {
  width: 400px;
}

.save-supporting-material {
  padding: 20px;
  overflow: auto;

  label {
    min-width: 50px;
    display: inline-block;
  }

  .other {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
  }

  .buttons {
    list-style-type: none;
    float: right;
    margin: 0;

    li {
      @button-spacing: 10px;
      display: inline-block;
      padding: 0 @button-spacing/2;

      &:last-child {
        padding: 0 0 0 @button-spacing/2;
      }
    }
  }
}