@editor-height: 100%;
@left-column-width: 300px;
@cs-grey: #dbd9db;
@cs-green: #80b312;
@cs-blue: #00acce;
@cs-dark-grey: #1B1B1B;
@header-font-size: 16px;
@header-color: #bdc0b3;
@yellow: #FFEC13;
@green: #7DE811;
@blue: #9CD2FF;
@navbar-bg : #e5e5e3;

@header-height : 60px;
