.wiggi-wiz{
  border-top: solid 0px;
}

.wiggi-wiz-overlay {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  background-color: #fff;
  opacity: 1;
  transition: opacity 200ms;
  border: solid 1px #999999;
  box-shadow: 0 0 15px;
}

.hide-overlay{
  opacity: 0.0;
}

.wiggi-wiz-editable {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  top: 42px;
  left: 0;
  right: 0;
}
