h4 Adding and Editing Video

p Questions may include videos hosted by YouTube and Vimeo.

ol
li In the formatting menu, click on the <i class="fa fa-film"></i> icon to open the configuration panel.
li Add a URL for the video, a thumbnail of the video will appear in the configuration panel.
li Adjust the aspect ratio to standard or wide screen.
li Select the size of the video.
li Click <b>Done</b>.

p Remember to add the copyright information for the video in the Question Profile form.
