h4 Introduction

p Building a question occurs in the rich text editor and that allows authors to view their work as they go. 
p The formatting menu bar at the top of the window allows for the formatting of text (e.g., add bullets, align paragraphs, use styles like headings, super and subscript), adjusting line spacing, adding links like URLs, adding media like videos, images, and mathematical language).

p A preview will be available to view the work. In general, editing occurs on the left side of the window and preview appears on the right side of the window.
