{
  common: 
    app: 'src/main/resources/container-client'
    dist: 'target/scala-2.10/classes/container-client'
    test: 'src/test/resources/container-client'
    tmp: '.tmp'
    components: '../../corespring-components/components'
    player: 
      src:  [
        '<%= common.dist %>/js/render/**/*.js' ]
      dest: '<%= common.dist %>/js/prod-player.js'

    coreLibs: 
      src: [
        '<%= common.dist %>/bower_components/es5-shim/es5-shim.min.js',
        '<%= common.dist %>/bower_components/console-polyfill/index.js',
        '<%= common.dist %>/bower_components/jquery/dist/jquery.min.js',
        '<%= common.dist %>/bower_components/jquery-ui/jquery-ui.min.js',
        '<%= common.dist %>/bower_components/angular/angular.min.js',
        '<%= common.dist %>/bower_components/lodash/dist/lodash.min.js',
        '<%= common.dist %>/bower_components/angular-ui-sortable/sortable.min.js',
        '<%= common.dist %>/bower_components/mathjs/dist/math.min.js',
        '<%= common.dist %>/bower_components/saxjs/lib/sax.js'
      ]
      dest: '<%= common.dist %>/js/core-libs.js'

    core: 
      dest: '<%= common.dist %>/js/prod-core.js'
      src: [
        '<%= common.dist %>/bower_components/corespring-ng-components/build/corespring-ng-components.js',
        '<%= common.dist %>/js/corespring/core.js',
        '<%= common.dist %>/js/corespring/core-library.js',
        '<%= common.dist %>/js/corespring/server/init-core-library.js',
        '<%= common.dist %>/js/corespring/lodash-mixins.js',
        '<%= common.dist %>/js/common/**/*.js']


    catalog: 
      dest: '<%= common.dist %>/js/prod-catalog.js'
      src: [
        '<%= common.dist %>/js/corespring/core-library.js',
        '<%= common.dist %>/js/corespring/server/init-core-library.js',
        '<%= common.dist %>/js/catalog/**/*.js',
        '<%= common.dist %>/js/render/services/**/*.js',
        '<%= common.dist %>/js/render/directives/**/*.js',
        '<%= common.dist %>/js/render/controllers/**/*.js'
      ]

    catalogExtras: 
      dest: '<%= common.dist %>/js/prod-catalog-extras.js'
      src: [
        '<%= common.dist %>/bower_components/angular-route/angular-route.min.js',
        '<%= common.dist %>/bower_components/angular-ui-router/release/angular-ui-router.min.js',
      ]

    editor:
      dest: '<%= common.dist %>/js/prod-editor.js'
      src: [
        '<%= common.dist %>/js/corespring/core-library.js',
        '<%= common.dist %>/js/corespring/server/init-core-library.js',
        '<%= common.dist %>/js/editor/**/*.js',
        '<%= common.dist %>/js/catalog/**/*.js',
        '<%= common.dist %>/js/render/services/**/*.js',
        '<%= common.dist %>/js/render/directives/**/*.js',
        '<%= common.dist %>/js/render/controllers/**/*.js'
      ]

    editorExtras:
      dest: '<%= common.dist %>/js/prod-editor-extras.js'
      src: [
              '<%= common.dist %>/bower_components/angular-route/angular-route.min.js',
              '<%= common.dist %>/bower_components/angular-ui-router/release/angular-ui-router.min.js',
              '<%= common.dist %>/bower_components/select2/select2.js',
              '<%= common.dist %>/bower_components/angular-ui-select2/src/select2.js',
              '<%= common.dist %>/bower_components/angular-ui/build/angular-ui.min.js',
              '<%= common.dist %>/bower_components/angular-bootstrap/ui-bootstrap-tpls.js',
              '<%= common.dist %>/bower_components/bootstrap/js/dropdown.js',
              '<%= common.dist %>/bower_components/bootstrap/js/modal.js',
              '<%= common.dist %>/bower_components/bootstrap/js/tooltip.js',
              '<%= common.dist %>/bower_components/bootstrap/js/popover.js',
              '<%= common.dist %>/bower_components/angular-ui-ace/ui-ace.js',
              '<%= common.dist %>/bower_components/ace-builds/src-min-noconflict/ace.js',
              '<%= common.dist %>/bower_components/ace-builds/src-min-noconflict/theme-twilight.js',
              '<%= common.dist %>/bower_components/ace-builds/src-min-noconflict/mode-xml.js',
              '<%= common.dist %>/bower_components/ace-builds/src-min-noconflict/worker-json.js',
              '<%= common.dist %>/bower_components/ace-builds/src-min-noconflict/mode-json.js',
              '<%= common.dist %>/bower_components/jquery.browser/dist/jquery.browser.min.js',
              '<%= common.dist %>/bower_components/undo.js/undo.js']


}