script#supporting-material-preview(type='text/ng-template')
  .supporting-material-preview(ng-controller='SupportingMaterialPreview')
    div(style="height: 100%;", ng-show="getContentType() != 'text/html'")
      iframe(ng-src="{{supportingUrl}}", width="100%", height="100%")
    div(ng-show="getContentType() == 'text/html'")
      div(ng-bind-html-unsafe='data.item.supportingMaterials[index].files[fileIndex].content')