.qti {

  table {
    border-collapse: separate;
    line-height: normal;
    color: #000000;
    font-size: 16px;
    margin: inherit;
  }

  table th, table td {
    padding: 1px;
    border: none;
    vertical-align: middle;
    min-width: inherit;
  }

  table th {
    background: inherit;
    color: #000000;
  }

  table td a {
    color: inherit;
    text-decoration: inherit;
  }

  table td a:hover {
    text-decoration: inherit;
  }

  table tfoot td {
    background: inherit;
  }

}
