extends layout

block head

block content
  .container(ng-app="simulator", ng-controller="Root", style="padding: 0px;")
    h1 Simulator
    hr/
    table(style='width: 100%')
      tr
        td(style='width: 50%; vertical-align: top;')
          form.form-horizontal
            .form-group
              label.control-label.col-sm-2 Secure
              .col-sm-10
                label.radio-inline
                  input(type="checkbox", ng-model="isSecure")
            .form-group
              label.control-label.col-sm-2 Mode
              .col-sm-10
                label.radio-inline
                  input(type="radio", value="gather", ng-model="mode")
                  | gather
                label.radio-inline
                  input(type="radio", value="view", ng-model="mode")
                  | view 
                label.radio-inline
                  input(type="radio", value="evaluate", ng-model="mode")
                  | evaluate 
            .form-group
              label.control-label.col-sm-2 Item Id 
              .col-sm-10
                input.form-control(type="text", placeholder="Id...", ng-model="itemId")
            .form-group
              label.control-label.col-sm-2 Session Id 
              .col-sm-10
                .form-control {{sessionId}}
            .form-group
              label.control-label.col-sm-2 Evaluate Settings
              .col-sm-10
                div.form-control(ng-model="settingsString", ui-ace="{useWrapMode:true,showGutter:false,mode:'json',onLoad:aceLoaded,onChange:aceChanged}", style="width: 300px; height: 200px;")
            .form-group
              label.control-label.col-sm-2 Attempt Count 
              .col-sm-10
                | {{attemptCount}}
                | &nbsp;
                button.btn.btn-default(ng-click="updateAttemptCount()") Update
            .form-group
              label.control-label.col-sm-2 Score 
              .col-sm-10
                | {{score}}
                | &nbsp;
                button.btn.btn-default(ng-click="getScore()") Update
            .form-group
              label.control-label.col-sm-2 Is Complete 
              .col-sm-10
                | {{isComplete}}
                | &nbsp;
                button.btn.btn-default(ng-click="updateIsComplete()") Update
            .form-group
              label.control-label.col-sm-2 Session status 
              .col-sm-10
                | all? : {{sessionStatus.allInteractionsHaveResponse}} 
                br/
                | count: {{sessionStatus.interactionCount}}
                br/
                | with response count: {{sessionStatus.interactionsWithResponseCount}}
                br/
                | &nbsp;
                button.btn.btn-default(ng-click="updateSessionStatus()") Update

          .player-error(ng-show="playerError", style='color: red;')
            {{playerError.code}}
            br/
            {{playerError.message}}
            br/
            button.btn(ng-click="playerError = null") Ok
          hr/
          .btn.btn-default( type="button", ng-click="add()") Add  
          .btn.btn-default( type="button", ng-click="remove()") Remove 
        td(style='width: 50%; vertical-align: top;')
          .player(ng-show="player")    
            #player-holder(style="height: 100%;")
            .btn.btn-default( type="button", ng-click="submit()") Submit 
            .btn.btn-default( type="button", ng-click="save(true)") Save (as attempt) 
            .btn.btn-default( type="button", ng-click="save(false)") Save 
            .btn.btn-default( type="button", ng-click="complete()") Complete 
            .btn.btn-default( type="button", ng-click="reset()") Reset 

block scripts
  script(src="/components/console-polyfill/index.js")
  script(src="/components/jquery/jquery.min.js")
  script(src="/components/lodash/dist/lodash.min.js")
  script(src="/components/angular/angular.min.js")
  script(src="/components/angular-ui-ace/ui-ace.js")
  script(src="/components/ace-builds/src-min-noconflict/ace.js")
  script(src="/components/ace-builds/src-min-noconflict/theme-twilight.js")
  script(src="/components/ace-builds/src-min-noconflict/mode-xml.js")
  script(src="/components/ace-builds/src-min-noconflict/worker-json.js")
  script(src="/components/ace-builds/src-min-noconflict/mode-json.js")
  script(src="/assets/js/app.js")

