h4 Adding Feedback

p Authors may provide feedback to a student at the interaction level (i.e., a multiple choice) or at the question level (i.e., the item in its entirety). CoreSpring allows for this flexibility so that authors may provide detailed feedback for a specific part of a question or, for the question in its entirety. All feedback is optional and is left to the discretion of the author.

p To provide interaction level feedback, follow the instructions in the <b>configuration panel</b> for each interaction. For example, in a multiple choice interaction, feedback may be authored for each choice and for the interaction as a whole. In a short answer interaction, feedback may be authored for correct, partially correct, or incorrect answers.

p To provide feedback for the entire item, enter the feedback space at the bottom of the editor window.

p You may preview how the feedback appears by <b>playing</b> the item using the preview window.
