h4 Scoring a Question

p

| A question is scored by specifying the weight or value of each interaction that is included in the question. As a default, the weights will be distributed evenly across each interaction. In other words, if there is one multiple choice interaction and one short answer interaction, the default setting is equally divided or 1 point each. To adjust the question weighting:

ul
li  Click on the <b>Scoring</b> button at the top of the screen.
li  Adjust the point value for each interaction included in the question.
