.profile-body
  h2(ng-bind-html="htmlOrNull(item.profile.taskInfo.title)")
  .round-border-container.clearfix
    .description(ng-if="isNonEmptyString(item.profile.taskInfo.description)") {{item.profile.taskInfo.description}}

    .field(ng-if="item.profile.taskInfo.subjects.primary")
      .info
        .label.label-info Primary Subject
      .content
        span {{subjectString(item.profile.taskInfo.subjects.primary)}}

    .field
      .info
        .label.label-info Grade Level(s)
      .content
        span {{arrayTextOrNA(item.profile.taskInfo.gradeLevel)}}

    .field.related-subjects(ng-if="item.profile.taskInfo.subjects.related")
      .info
        .label.label-info Related Subject(s)
      .content
        ul
          li(ng-repeat="related in item.profile.taskInfo.subjects.related")
            span {{subjectString(related)}}

    .field(ng-show="isNonEmptyString(getPValueAsString(item.profile.pValue))")
      .info
        .label.label-info Difficulty Level
      .content
        span {{getPValueAsString(item.profile.pValue)}}

    .field
      .info
        .label.label-info Interactions
      .content
        span {{arrayTextOrNA(componentTypeLabels)}}

    .field(ng-show="item.profile.standards.length > 0")
      .info
        .label.label-info CCSS
      .content
        span(ng-repeat="standard in item.profile.standards") {{standard.dotNotation}}{{$last ? '' : ', '}}

    .field(ng-show="licenseTypeUrl")
      .info
        .label.label-info License
      .content(ng-show="item.profile.contributorDetails.licenseType!='Other'")
        img.license-type(ng-src="{{licenseTypeUrl}}")
      .content(ng-show="item.profile.contributorDetails.licenseType=='Other'")
        span Other


  .borderless-container.clearfix
    .field(ng-show="isNonEmptyString(item.profile.otherAlignments.bloomsTaxonomy)")
      .info
        .label.label-warning Bloom's Taxonomy
      .content {{item.profile.otherAlignments.bloomsTaxonomy}}

    .field(ng-show="item.profile.demonstratedKnowledge")
      .info
        .label.label-warning Demonstrated Knowledge
      .content {{item.profile.demonstratedKnowledge}}

    .field(ng-show="depthOfKnowledgeLabel")
      .info
        .label.label-warning Depth of knowledge
      .content {{depthOfKnowledgeLabel}}

    .field(ng-show="item.profile.lexile")
      .info
        .label.label-warning Lexile Score
      .content(ng-show="item.profile.lexile") {{item.profile.lexile }}L

    .field(ng-show="isNonEmptyStringArray(item.profile.otherAlignments.keySkills)")
      .info
        .label.label-warning Key Skills
      .content {{item.profile.otherAlignments.keySkills.join(", ")}}

    .field.copyright(ng-show="item.profile.contributorDetails.copyrightOwner")
      .info
        .label.label-warning Copyright Owner
      .content
        {{item.profile.contributorDetails.copyrightOwner}}

    .field.pull-right
      .more-info-container.clearfix
        a.show-more(ng-click="showMore = !showMore", ng-show="isThereMoreData(item.profile)") {{showMore ? 'hide info' : 'more info'}}
        .fields(ng-show="showMore")
          .field(ng-show="item.profile.contributorDetails.copyrightYear")
            .title Copyright Year
            .sub-content {{item.profile.contributorDetails.copyrightYear}}

          .field(ng-show="item.profile.contributorDetails.copyrightExpirationDate")
            .title Copyright Expiration Date
            .sub-content {{item.profile.contributorDetails.copyrightExpirationDate}}

          .field(ng-show="isNonEmptyStringArray(item.profile.reviewsPassed)")
            .title Reviews Passed
            .sub-content {{item.profile.reviewsPassed.join(", ")}}

          .field(ng-show="item.profile.contributorDetails.credentials")
            .title Credentials
            .sub-content {{item.profile.contributorDetails.credentials}}

          .field(ng-show="item.profile.priorUse")
            .title Prior Use
            .sub-content {{item.profile.priorUse}}

          .field(ng-show="isNonEmptyStringArray(item.profile.priorGradeLevel)")
            .title Prior Use Grade Level
            .sub-content {{item.profile.priorGradeLevel.join(", ")}}

          .field(ng-show="item.collection.name")
            .title Collection
            .sub-content {{item.collection.name}}

          .field(ng-show="getUrl(item.profile.contributorDetails.sourceUrl)")
            .title Source
            .sub-content
              a(href="{{getUrl(item.profile.contributorDetails.sourceUrl)}}", target="_blank")
                .source-url-text{{item.profile.contributorDetails.copyrightOwner}}
  .footer
    .item-id Item ID: {{item.itemId}}
