.question-information(ng-if="item")
  .col-sm-3(ng-hide='hideNav')
    ul.nav.nav-pills.nav-stacked(role='tablist')
      li(role='presentation',ng-class="{active: activeTab == 'question'}",ng-click="selectTab('question')",ng-show="availableTabs.question")
        a Question
      li(role='presentation',ng-class="{active: activeTab == 'profile'}",ng-click="selectTab('profile')",ng-show="availableTabs.profile")
        a Profile Information
      li(role='presentation', ng-show='item.supportingMaterials.length > 0 && availableTabs.supportingMaterial')
        a.dropdown-toggle(data-toggle='dropdown')
          | Supporting Materials
          span.caret

        ul.dropdown-menu(role='menu')
          li(ng-repeat="section in sections", ng-class="{last: $last}")
            ul.section-menu
              li.dropdown-header {{section.name}}
              li(ng-repeat="sm in section.items")
                a(ng-click="selectSupportingMaterial(sm)") {{sm.name}}

  .col-sm-8
    .player-container(ng-show="activeTab == 'question'")
      corespring-demo-player(
        data-jade-template='question-information',
        player-markup="item.xhtml",
        player-item="item")

    .profile(ng-show="activeTab == 'profile'")
      div(profile-preview="", ng-model="item")

    .supporting-material(ng-show="activeTab == 'supportingMaterial'")
      h3 {{selectedMaterial.name}}
      div(style="height: 400px;", ng-if="mainFile.contentType != 'text/html'")
        iframe(ng-src="{{binaryUrl}}")
      div(ng-if="mainFile.contentType == 'text/html'")
        div(ng-bind-html-unsafe='mainFile.content')

  .clearfix
