.question-information(ng-if="item")
  .col-sm-3
    ul.nav.nav-pills.nav-stacked(role='tablist')
      li(role='presentation',ng-class="{active: activeTab == 'question'}",ng-click="selectTab('question')")
        a Question
      li(role='presentation',ng-class="{active: activeTab == 'profile'}",ng-click="selectTab('profile')")
        a Profile Information
      li(role='presentation', ng-show='item.supportingMaterials.length > 0')
        a.dropdown-toggle(data-toggle='dropdown')
          | Supporting Materials
          span.caret

        ul.dropdown-menu(role='menu')
          li(ng-repeat="s in supportingMaterials",ng-model="s",ng-class="{divider: s.type == 'divider', data: s.type == 'data', active: s.index == activeSmIndex, 'dropdown-header': s.type == 'header'}") {{s.type == 'header' ? s.label : ''}}
            a(ng-if="s.type == 'data'",ng-click="selectSupportingMaterial(s.index)") {{s.label}}

  .col-sm-8
    .player-container(ng-show="activeTab == 'question'")
      corespring-demo-player(
        player-markup="item.xhtml",
        player-item="item",
        player-mode="playerMode")

    .profile(ng-show="activeTab == 'profile'")
      div(profile-preview="", ng-model="item")

    .supporting-material(ng-show="activeTab == 'supportingMaterial'")
      h3 {{selectedSupportingMaterialName}}
      div(style="height: 400px;", ng-if="getContentType() != 'text/html'")
        iframe(ng-src="{{selectedSupportingMaterialUrl}}")
      div(ng-if="getContentType() == 'text/html'")
        div(ng-bind-html-unsafe='selectedSupportingMaterialContent')

  .clearfix
