.summary-feedback
  a.show-feedback-button(ng-click='toggleSummaryFeedbackOpen()')
    i.fa(class="fa-{{isSummaryFeedbackOpen ? \'minus\' : \'plus\'}}-square-o")
      span &nbsp Click for more feedback
  .feedback-text(ng-show='isSummaryFeedbackOpen', ng-bind-html-unsafe='ngModel')
            
