.summary-feedback(ng-show='displaySummaryFeedback()')
  .panel.summary-feedback-panel-preview
    .panel-heading.show-feedback-button(ng-click='toggleSummaryFeedbackOpen()')
      h4.panel-title
        i.fa.fa-lightbulb-o
        |          Learn More
    .panel-body.feedback-text(ng-show='isSummaryFeedbackOpen', ng-bind-html-unsafe='ngModel')
