h4 Adding and Editing an Interaction

p An item may include one or more interaction types. For example, it may include a Short Answer question and an Open Ended question to ask the student to explain his or her answer.

ol
  li In the formatting menu, click on the <b>Insert Interaction Type</b> drop down menu
  li Select the interaction you would like to add to the item it will be inserted in the editor.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Add the configuration information (e.g., choices, feedback, scoring details).
  li Click <b>Done</b> to return to the main editor panel.
