h4 Adding and Editing Images


ol
  li In the formatting menu, click on the <i class="fa fa-file-image-o"></i> icon.
  li Locate the image and then click <b>Upload Image</b>. The image must be a .jpg, .gif, or .png format and the maximum file size allowed is 500kb. 
  li After the system has confirmed that the image has been uploaded, click <b>Insert</b>.
  li Click on the image to adjust sizing and alignment.

p
  | To
  b Edit
  |  an image that you have already included in the question, click on the <i class="fa fa-pencil"></i> to reveal the configuration panel, or, click on the <i class="fa fa-trash-o"></i> to remove it.
