h4 Adding and Editing Math

p Questions may include math text in the form of MathML or LaTex.

ol
  li In the formatting menu, click on the <i class="fa math-sum"></i> icon.
  li Add content in the form of MathML or LaTex to the window, it will automatically show a preview of the content.
    i - If using MathML, indicate whether the text should be rendered as Block (stand alone on one line) or inline with text.
  li Click <b>Done</b> to return to the editor.
