h4 Multiple Choice


p In **Multiple Choice**, students select the best response from a list of options presented. This interaction allows for either one or more correct answers.  


ol
  li In the formatting menu, click **Insert Interaction** and select **Multiple Choice**.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Select a presentation format. Decide whether to present the Multiple Choice answer as radio buttons (student may submit one choice) or as checkboxes (student may submit more than one choice).
  li Edit the choices; choices may be text, images, or math language.
    ul
      li *Adding a Choice*: Use the “Add a Choice Button” to add a choice.
      li *Removing a Choice*: Use the <i class="fa fa-trash-o"></i> next to the choice
  li Author the  feedback by selecting the preferred settings:
    ul
      li *Choice Feedback*: The default setting for a multiple choice is to present no feedback to the student, other than a visual cue indicating correct or incorrect selection. Custom feedback may be presented to the using the custom feedback setting.
      li *Interaction Feedback*: Author interaction level feedback for the interaction. The default setting is set to “no feedback.”
  li Select the correct answer or answers by clicking on the <i class="fa fa-check"></i>.
  li Define other settings.
    ul
      li *Shuffle*: Selecting “Shuffle Choices” will change the order of choices as they are presented to a student each time that the item is launched. Override the shuffle feature at the choice level by checking the  “Do Not Shuffle”  button next to each choice.
      li *Choice labels*: Select labels for choices (A, B, C, 1, 2, 3, or none). The default setting is A, B, C, etc.
  li Score the interaction. If the interaction is checkbox choice, partial credit may be assigned based on the number of correct answers submitted. This feature is optional.
