h4 Open Ended Answer


p In an Open Ended interaction, students respond to a prompt in short or long form. These interactions are not automatically scored.

ol
  li In the formatting menu, click **Insert Interaction** and select Open Ended Answer.
  li Locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Adjust the height and width of student response area.
  li Author the  feedback by selecting the preferred setting:
    ul
      li *Default Feedback*: The default message is “Your answer has been submitted.”
      li *No Feedback*: No message will be presented to the student.
      li *Customized Feedback*: Author a customized message to be presented to the student.

p Please note that Open Ended Answer questions are not automatically scored by the system. Authors may provide guidance for evaluation by adding supporting materials (e.g., a scoring guide, a rubric) in the Supporting Materials area.
