h4  Short Answer - Enter Text


p In Short Answer - Enter Text, students will respond to a prompt (e.g., calculate, identify, compute) by entering text, and the answer will be evaluated. A short answer may be place in line with text or as a standalone field.

ol
  li In the formatting menu, click **Insert Interaction** and select **Short Answer - Enter text**.
  li In the editor, locate the interaction and click on the <i class="fa fa-pencil"></i> to open the configuration panel.
  li Determine the correct and partially correct answer or answers. Do this by entering the correct answer or answers in the correct answer field. Separate each correct answer by clicking the Enter/Return button or using the tab function on your keyboard.
    ul
      li *Case sensitivity*: Determine whether the submitted answer is to be evaluated for case (e.g., “Obama” is the correct answer, ‘obama’  is not an acceptable answer.  
      li *Ignore spaces*: Determine whether the submitted answer is to be evaluated for spaces (e.g., “40” is considered the same as “4 0”).
  li Author the  feedback by selecting the preferred settings:
    ul
      li *Correct Answer*: You may author a feedback message if the interaction if fully correct; the default message is “Correct!”.
      li *Partially Correct Answer*: You may author feedback message if the interaction is partially correct: the default message is “Very good but an even better answer would be [random selection from correct answers]”.
      li *Incorrect Answer*: You may author feedback message if the interaction is partially correct: the default message is “Good try but the correct answer is [random selection from correct answers].”.
      li *Interaction Feedback*: You may provide interaction level feedback for the answer type. The default setting is set to “no feedback.”
  li Score the interaction. If the short answer contains partially correct answer, determine the value of those answers.
  li Define other settings.
    ul
      li *Display*: Select the answer blank size (small to large).
      li *Alignment*: Align the text in answer blank (left, center, right); left alignment is the default.
