h4 Tools

p The <b>Tools</b> menu offers a set of tools for use while completing a response to a question. Authors may include any number of tools in an item and can locate the tool anywhere within the item using the rich text editor.
