h4 Protractor

p Authors may include a ruler in a question. Protractors can be moved within the player space by clicking and dragging, and rotated by clicking and dragging the arrow on the left side of the protractor. Students will click the <img src="ProtractorIcon.jpg" height="26" width="26"/> to open it for use. To add a protractor:

ol
  li In the formatting menu bar, click <b>Tools</b> and select <b>Protractor</b>. Text may be added before or after the <img src="ProtractorIcon.jpg" height="26" width="26"/>.
  li To remove the protractor, use the <i class="fa fa-trash"></i> to remove the ruler from the question.
