h4 Ruler

p Authors may include a ruler in a question. Rulers can be moved within the player space by clicking and dragging, and rotated by clicking and dragging the circles on either end of the ruler. Students will click the <img src="RulerIcon.jpg" height="26" width="26"></i> to open it for use. To add a ruler:

ol
  li In the formatting menu bar, click <b>Tools</b> and select <b>Ruler</b>. Text may be added before or after the <img src="RulerIcon.jpg" height="26" width="26"></i>.
  li In the editor, locate the <img src="RulerIcon.jpg" height="26" width="26"></i> and click on the <i class="fa fa-pencil"></i> to open the settings panel.
    ul Select the type of ruler- imperial or metric.
    ul Select a label that will appear on the ruler.
    ul Set the length of the ruler.
    ul Select the number of tick marks that will appear on the ruler.
    ul Set the scale of the ruler. <i>Use this option to scale the ruler to an image. A unit is defined as the distance between two major ticks. For example, if the image measures 150 pixels wide, scaling to 50 pixels will equal 3 inches</i>.
  li Select the basic or the scientific calculator.
  li To remove the ruler, Use the <i>class="fa fa-trash"></i> to remove the ruler from the question.
