h4 Calculator

p Authors may include a basic or scientific calculator in a question. Please note that the calculator is a support material but does not record student responses. An interaction (e.g. Multiple Choice or Short Answer- Enter Text) must be included in the question for a student to submit a response for evaluation.  To add a calculator:

ol
  li In the in the formatting menu, click <b>Tools</b> and select <b>Calculator</b>. Text may be added before or after the <img src=“CalculatorIcon.jpg” alt=“Calculator” height=“27” width=“20”> icon.
  li In the editor, locate the <img src=“CalculatorIcon.jpg” alt=“Calculator” height=“27” width=“20”> and click on the <i class="fa fa-pencil"></i> to open the settings panel.
  li Select the basic or the scientific calculator.
  li To remove the calculator, Use the <i>class="fa fa-trash"> to remove the calculator from the question.
