h4 Organization Information

p Some organizations need to store information that is important for internal use. Complete that information as directed by the organization so that it may be used to search for and discover content aligned to that information.
