extends layout

block content
  .root(ng-controller="CatalogRoot")
    div(question-information="", ng-model="item") Boooo

block after-main-script
  
  script(type="text/javascript"). 
    angular.module('corespring-#{appName}');


