extends layout

block content
  .root(ng-controller="CatalogRoot", dimension-propagator='')
    div(question-information="", tabs="tabs", ng-model="item")

block after-main-script
  
  script(type="text/javascript").
    angular.module('corespring-#{appName}').config(['$provide', function($provide) {
      $provide.constant("STATIC_PATHS", !{staticPaths} );
      $provide.value('PlayerSkin', {iconSet: "!{iconSet}"});
    }]);


