.designer(ng-controller="Designer", ng-show="nav.isCurrentView('designer')")

  .config(ng-class="editorMode")
    wiggi-wiz(ng-model="$parent.xhtml",
      style="position:relative; width: 100%; height; 100%")

