.designer(ng-controller="Designer", ng-show="nav.isCurrentView('designer')")
  .item-list(is-new-item="{{isNewItem()}}")

  .config(ng-class="editorMode")
    wiggi-wiz(ng-model="$parent.selectedComponentJson",
      style="position:relative; width: 100%; height; 100%")

  .welcome(ng-show="isNewItem()")
    .header
      | Welcome
    .cs-btn(ng-click="openChooser()") Add content


