script#designer(type="text/ng-template")
  .designer(ng-controller="Designer")

    .editor-container(ng-class="editorMode")
      wiggi-wiz(
        ng-model="data.item.xhtml",
        features="extraFeatures",
        image-service="imageService",
        ng-show="editorMode=='visual'")
        toolbar(basic="bold italic", formatting="h1 h2 p")
        edit-pane-toolbar(alignment="bottom")
          .btn-group.pull-right
            button(ng-click="closePane()", class="btn btn-sm btn-success", style="float:right;") Done
