.designer(ng-controller="Designer", ng-show="nav.isCurrentView('designer')")

  .config(ng-class="editorMode")
    wiggi-wiz(ng-model="item.xhtml",features="extraFeatures")
    textarea(ng-model="item.xhtml", style="width: 100%; height: 300px")
