script#supporting-materials(type='text/ng-template')
  .supporting-materials(ng-controller="SupportingMaterials")

    .intro(ng-show='showIntro')
      p.directions When composing an assessment item, it can be useful to include supplemental materials to assist in scoring or classroom discussion. You may add as many as you like. Please be sure to include a short, descriptive title and select the type of material you are adding (Rubric, scoring guide, etc.).
      button.btn.btn-success(ng-click='hideIntro()') Add

    .new-supporting-material(ng-hide='showIntro')
      supportingmetadata(ng-model='newMaterial')

      .selection
        p.prompt Select source:

        .options(ng-class="{disabled: !enableOptions}")
          .option.file
            a.file-header(ng-click='createText()') Compose New Document
          p.or or
          .option.pdf
            label.pdf-header Upload PDF
            input(type='file', ng-disabled='!enableOptions', fileChange)
