script#supporting-materials(type='text/ng-template')
  .supporting-materials(ng-controller="SupportingMaterials")

    script#new-supporting-material-modal(type='ng-template')
      include ../partials/dialogs/new-supporting-material

    script#save-supporting-material-modal(type='ng-template')
      include ../partials/dialogs/save-supporting-material
