script#supporting-materials(type='text/ng-template')
  .container.supporting-materials(ng-controller="SupportingMaterials")
    .row
      .jumbotron
        h3 Supporting Materials
        p Coming soon...