.supporting-materials(ng-controller="SupportingMaterials", ng-show="nav.isCurrentView('supporting-materials')")

  script#new-supporting-material-modal(type='ng-template')
    include ../partials/dialogs/new-supporting-material

  script#save-supporting-material-modal(type='ng-template')
    include ../partials/dialogs/save-supporting-material