form.form-horizontal

  .control-group
    label.control-label Primary Subject
    
    .controls 

      
      select(ui-select2,
        ng-model="select2",
        data-placeholder="Pick a number")
        option(value="")
        option(value="one") First
        option(value="two") Second
        option(value="three") Third

  .control-group
    label.control-label Related Subject

    .controls
      select(ui-select2,
        ng-model="select2",
        data-placeholder="Pick a number")
        option(value="")
        option(value="one") First
        option(value="two") Second
        option(value="three") Third

  .control-group
    label.control-label(for='gradeLevel') Grade Level
    .controls
      button-bar(ng-model="data.gradeLevel", button-provider="gradeLevelDataProvider")
  
  .control-group
    label.control-label Title
    .controls
      textarea.form-control(ng-model='itemData.title', rows='3')
  
  .control-group
    label.control-label Item Type
    item-type(ng-model="data.itemType", data-provider="itemTypeDataProvider")
