script(type="text/ng-template", id="/templates/popups/copy")
  +modal('Copy Item', 'Ok')
    label Enter a new question name:
    input.form-control#title(type="text", placeholder="copy of Untitled Item")
