script(type="text/ng-template", id="/templates/popups/edit-title")
  +modal('Rename Question', 'Ok')
    label Enter a new name:
    input.form-control#title(type="text", ng-model="title", placeholder="copy of Untitled Item")