mixin dropdown_btn(name)
  li(role='presentation')
    a(role='menuitem', tabindex='-1', ng-click="#{name}()")
      block

mixin info_btn(name)
    a(ng-click="#{name}()")
      block

mixin tab(label, name)
  li(ui-sref-active="active")
    a(ui-sref="#{name}", role='tab')= label

mixin help
  a.help.navbar-right(ng-click="help()")
    i.fa.fa-question-circle

mixin helper-icons
  ul.list-inline.list-unstyled.helper-icons
    li 
      +info_btn('questionInformation') Question Information
    li 
      +help

include ../v2-templates/popups

nav.row.navbar-default(ng-controller="NavController")
  ul.list-inline
    li.title(ng-click="editTitle()") {{title}}
    li.dropdown
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        | Actions
        span.caret
      ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
        +dropdown_btn('new') New
        +dropdown_btn('open') Open...
        +dropdown_btn('copy') Copy...
        li.divider(role='presentation')
        +dropdown_btn('archive') Archive...
        +dropdown_btn('delete') Delete
        li.divider(role='presentation')
        +dropdown_btn('questionInformation') Question Information
    li
      span.save-msg(ng-switch on="saveStatus")
        span#saved(ng-switch-when="saved")
          | All changes saved
        span#save-in-progress(ng-switch-when="saving")
          | Saving...
        span#save-error(ng-switch-when="error")
          | There was an error saving your content
        span#save-error(ng-switch-default)
          |  &nbsp;

  +helper-icons

  ul.nav.nav-tabs(role='tablist')
    +tab('Question', 'question')
    +tab('Profile', 'profile')
    +tab('Supporting Materials', 'supporting-materials')
