h4 Building a Question



p To build a question:

ol
 li Enter an introduction and/or a prompt and format it using standard formatting features available in the formatting menu bar.
 li Determine the way that the student responds by inserting an <b>Interaction Type</b> into the question using the drop down menu in the formatting toolbar.
 li Edit the <b>Interaction Type</b> using the configuration panel.
 li Update the <b>Question Profile</b>. The question profile contains important storage information like the aligned standard, the Bloom's Level, and Depth of Knowledge.
 li Add <b>Supporting Materials</b>. CoreSpring encourages authors to include rubrics, scoring guides, review notes, and examples of work that may help an educator administer the question and evaluate the results.


p When a new question is created it will be named <b>Untitled</b> by default. To rename the question:

ol
  li Click on <b>Untitled</b> at the top of the window.
  li Type a name for the question.
  li Click OK.

p Adding a title will update the title field that appears in the <b>Question Profile</b>.
