h4 Introduction

p CoreSpring's Authoring Tools are unique in that:

ul
  li question authoring is <b>what you see is what you get</b> or <a href='#wysiwyg'>WYSIWYG</a>.
  li there are multiple interaction types that authors may use to build engaging items like performance tasks.
  li when published, questions can an be integrated in any browser-based platform; items are 'played' in browser engines on PCs, laptop, and tablet devices.
  li educators can immediately access the outcomes (scores); the data from the outcome can be ported to other systems to drive decision making.

p A question consists of three main parts:
ul
  li The <b>question</b>: the prompt, media, and question or questions that you want the student to answer.
  li The <b>profile</b>: the metadata that is used to store the item. The profile contains basic information like the standard alignment, grade level, title and a description; copyright information; alignments like Bloom's Taxonomy and Depth of Knowledge; and historical information like prior use and reviews passed.
  li The <b>supporting materials</b>: questions may be accompanied by scoring guides, examples, and rubrics that help educators administer or review the item.
