h4 WYSIWYG: What You See is What You Get

p In CoreSpring Authoring Tools, questions are updated in real-time. Key features of the authoring tools include:

p
  b Rich Text Editing
  | - Questions are edited using a rich text editor. Authors may add bullets, align paragraphs, use styles for example, headings, super and subscript, adjust line spacing, add links like URLs, add media like videos, images, and mathematical language.

p
  b Interaction Design
  | - The authoring tool allows authors to create rigorous and engaging questions by inserting interaction types (e.g., multiple choice, short answer, select text, graph lines, plot points).
