.cs-btn{
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  height: 35px;
  display: inline-table;
  cursor: pointer;
  background-image: url('../images/cs-button-icon.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.tight{
  padding-left: 7px;
  padding-right: 7px;
}


.btn-info{
  background:#008BC9;
}

.btn-submit,
.btn-reset {
  color: #1a9cff;
  font-size: 10pt;
  line-height: 7pt;
  border: 1px solid #bce2ff;
  background-color: #fff;
  width:64px;
  height:64px;
  border-radius:50px;
  text-align:center;
  white-space: normal;
  margin: 0 20px 0 0;
  box-shadow: 1px 1px 1px 1px rgba(96, 86, 75, 0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(96, 86, 75, 0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(96, 86, 75, 0.25);
}