.component-placeholder{
  @width: 220px;
  @height: 205px;
  position: relative;
  margin-left: 1px;
  display: inline-block;
  min-width: @width;

  .icon-holder {
    .border-radius(3px);
    border: solid 1px #cccccc;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    background-position-x: 50%;
    padding-top: 0px;

    .title {
      position: absolute;
      top: 12px;
      left: 12px;
      font-family: 'Helvetica Neue', helvetica, sans-serif;
      font-weight: bold;
      color: #4a4a4a;
      display: block;
      font-size: 11px;
      line-height: 13px;
    }
  }
  
  &.show-icon {
    @icon-padding: 10px;

    width: @width;
    height: @height;
    display: inline-block;

    .edit-controls{
      z-index: 20;
    }
  }

  .blocker{

    .content {
      display: inline-flex;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .edit-controls { 
      position: absolute;
      z-index: 10;
      padding: 5px 5px 5px 10px;
      top: 2px;
      right: 2px;
      background: rgba(255, 255, 255, 0.7);

      .delete-icon-button, 
      .edit-icon-button {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }

        @close-icon-base-color: @component-icon-bg;
 
        i {
          font-size: 22px;
          color: darken(@close-icon-base-color, 10%);

          &:hover {
            color: darken(@close-icon-base-color, 16%);
          }
        }
      }
    }
  }
  
  .holder{
    .border-radius(3px);
    border: solid 1px #cccccc;
    position: inherit;
    visibility: visible;
    pointer-events: none;

    &.nonvisible {
      position: absolute;
      visibility: hidden;
    }
  }
}