.question-information {

  padding:20px;
  
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f6f6f6;
    color: #555;
    outline: none;
  }

  ul.dropdown-menu > li{
    border-bottom: solid 1px #bcbcbc;
    &.last{
      border-bottom: none; 
    }
  }

  ul.section-menu{
    padding-left: 0;
    margin-left: 0;

    li{
      padding: 0;
      margin: 0;
      list-style: none;
      
      &.dropdown-header{
        padding: 7px;
      } 
      
      a {
        padding: 7px;
        display: block;
        text-decoration: none;
        color: #555;
      }

      &.active, a:hover{
        background-color: #f6f6f6;
        color: #555;
        outline: none;
      }
    }
  }

  li.dropdown-header {
    text-transform: uppercase;
  }

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }

}