@player-width: 613px;

.preview-player-control-panel{
  text-align: center;
  padding: 10px;
  * {
    margin-left: 5px;
    text-transform: lowercase;
  }
  .score {
    display: inline-block;
    width: 100px;
  }

  .control-buttons {
    height: 64px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.question{
  padding: 10px;
  width: 100%;

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-bar{
    *{
      margin-left: 5px;
    }
  }

  .preview {
    min-width: @player-width;
    padding:10px;
    border:2px solid dashed;
    background:white;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }


  .item-preview-wrapper {
    width: @player-width;
    min-width: @player-width;
    max-width: @player-width;
    position: relative;
  
    .player-container{
      padding: 5px;
      border:1px dashed #ccc;
      border-radius: 4px;
      width: @player-width;
      min-width: @player-width;
      max-width: @player-width;
      min-height: 465px;
    }
 
    .player-label {
      border-radius: 4px;
      text-align: center;
      img{
        border: dashed #cccccc 1px;
        position: absolute;
        bottom: 75px;
        left: 10px;
        height: 20px;
      }
    }
  }
}

